<!-- Info Modal -->
<div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-label">Appointment Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <input style="display: none" id="appt-id">
            <div class="modal-body">
                <table id="modal-table" class="table table-striped table-bordered">
                    <tr id="student-container">
                        <th>Student</th>
                        <td id="student-data"></td>
                    </tr>
                    <tr id="tutor-container">
                        <th>Tutor</th>
                        <td id="tutor-data"></td>
                    </tr>
                    <tr id="sched-start-container">
                        <th>Scheduled Start</th>
                        <td id="sched-start-data"></td>
                    </tr>
                    <tr id="sched-end-container">
                        <th>Scheduled End</th>
                        <td id="sched-end-data"></td>
                    </tr>
                    <tr id="actual-start-container">
                        <th>Actual Start</th>
                        <td id="actual-start-data"></td>
                    </tr>
                    <tr id="actual-end-container">
                        <th>Actual End</th>
                        <td id="actual-end-data"></td>
                    </tr>
                    <tr id="drop-in-container">
                        <th>Drop In</th>
                        <td id="drop-in-data"></td>
                    </tr>
                    <tr id="multilingual-container">
                        <th>Multilingual</th>
                        <td id="multilingual-data"></td>
                    </tr>
                    <tr id="no-show-container">
                        <th>No Show</th>
                        <td id="no-show-data"></td>
                    </tr>
                    <tr id="prof-container">
                        <th>Professor</th>
                        <td id="prof-data"></td>
                    </tr>
                    <tr id="prof-email-container">
                        <th>Professor Email</th>
                        <td id="prof-email-data"></td>
                    </tr>
                    <tr id="select-course-container">
                        <th>Select a Course</th>
                        <td id="select-course">
                            <select class="form-control" id="courses">
                                <option id="no-course" class="select-hr" selected="selected">No Specific Course</option>
                            </select>
                        </td>
                    </tr>
                    <tr id="course-container">
                        <th>Course Code</th>
                        <td id="course-data"></td>
                    </tr>
                    <tr id="section-container">
                        <th>Course Section</th>
                        <td id="section-data"></td>
                    </tr>
                    <tr id="assignment-description-container">
                        <th>Describe Your Assignment</th>
                        <td id="assignment-description">
                            <textarea id="assignment" name="assignment" class="form-control"></textarea>
                        </td>
                    </tr>
                    <tr id="assignment-container">
                        <th>Assignment</th>
                        <td id="assignment-data"></td>
                    </tr>
                    <tr id="notes-container">
                        <th>Notes</th>
                        <td id="notes-data"></td>
                    </tr>
                    <tr id="suggestions-container">
                        <th>Suggestions</th>
                        <td id="suggestions-data"></td>
                    </tr>
                    <tr id="schedule-container">
                        <th colspan="2"><button class="btn btn-primary darkblue" onclick="scheduleAppointment()">Schedule Appointment</button></th>
                    </tr>
                    <tr id="cancel-container">
                        <th colspan="2"><button class="btn btn-primary btn-danger" onclick="cancelAppointment()">Cancel Appointment</button></th>
                    </tr>
                    {% if 'Administrator' in session['USER-ROLES'] or 'tutor' in session['USER-ROLES'] %}
                        <tr id="request-container">
                            <th id="request-sub-container" colspan="2">
                                <button class="btn btn-primary darkblue" onclick="requestSub()">Request Substitute</button>
                                {% if 'Administrator' in session['USER-ROLES'] %}
                                    <button style="margin-left: 10px" class="btn btn-primary btn-danger" onclick="deleteAppointment('request')">Delete Appointment</button>
                                {% endif %}
                            </th>
                        </tr>
                        <tr id="pickup-container">
                            <th id="pickup-sub-container" colspan="2">
                                <button class="btn btn-primary darkblue" onclick="subAppointment()">Pick Up Shift</button>
                                {% if 'Administrator' in session['USER-ROLES'] %}
                                    <button style="margin-left: 10px" class="btn btn-primary btn-danger" onclick="deleteAppointment('pickup')">Delete Appointment</button>
                                {% endif %}
                            </th>
                        </tr>
                    {% endif %}
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary darkblue" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    let first = true;
    function getAppointmentData(apptID, schedule=false, cancel=false, subDelete=false) {
        $.ajax({
            type: "POST",
            url: "{{ url_for('AppointmentsView:load_appointment_data') }}",
            data: JSON.stringify({
                'id': apptID,
                'schedule': schedule,
                'cancel': cancel
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (appt) {
                $('#appt-id').val(appt['id']);
                $('#tutor-data').html(appt['tutorName']);
                $('#sched-start-data').html(appt['scheduledStart']);
                $('#sched-end-data').html(appt['scheduledEnd']);
                $('#drop-in-data').html(appt['dropIn']);
                $('#multilingual-data').html(appt['multilingual']);
                $('#prof-data').html(appt['profName']);
                $('#prof-email-data').html(appt['profEmail']);
                $('#course-data').html(appt['courseCode']);
                $('#section-data').html(appt['courseSection']);
                $('#assignment-data').html(appt['assignment']);
                if (schedule === true) {
                    if (first === true) {
                        for (let i = 0; i < appt['coursesLength']; i ++) {
                            $('#courses').append('<option id="' + appt['courses'][i]['crn'] + '">' + appt['courses'][i]['subject'] + appt['courses'][i]['cNumber'] + ' ' + appt['courses'][i]['title'] + '</option')
                        }
                        first = false;
                    }
                    $('#student-container').hide();
                    $('#actual-start-container').hide();
                    $('#actual-end-container').hide();
                    $('#no-show-container').hide();
                    $('#prof-container').hide();
                    $('#prof-email-container').hide();
                    $('#course-container').hide();
                    $('#section-container').hide();
                    $('#assignment-container').hide();
                    $('#notes-container').hide();
                    $('#suggestions-container').hide();
                    $('#cancel-container').hide();
                    $('#request-container').hide();
                    $('#pickup-container').hide();
                } else if (cancel === true) {
                    $('#student-container').hide();
                    $('#actual-start-container').hide();
                    $('#actual-end-container').hide();
                    $('#no-show-container').hide();
                    $('#notes-container').hide();
                    $('#suggestions-container').hide();
                    $('#select-course-container').hide();
                    $('#assignment-description-container').hide();
                    $('#schedule-container').hide();
                    $('#request-container').hide();
                    $('#pickup-container').hide();
                } else if (subDelete === true) {
                    $('#student-data').html(appt['studentName']);
                    $('#actual-start-data').html(appt['actualStart']);
                    $('#actual-end-data').html(appt['actualEnd']);
                    $('#no-show-data').html(appt['noShow']);
                    $('#notes-data').html(appt['notes']);
                    $('#suggestions-data').html(appt['suggestions']);
                    $('#select-course-container').hide();
                    $('#assignment-description-container').hide();
                    $('#schedule-container').hide();
                    $('#cancel-container').hide();
                    $('#request-container').show();
                    $('#pickup-container').show();
                    if (appt['future'] === true) {
                        if (appt['sub'] === 1) {
                            $('#request-container').hide()
                        } else {
                            $('#pickup-container').hide()
                        }
                    } else {
                        $('#request-container').hide();
                        $('#pickup-container').hide();
                    }
                } else {
                    $('#student-data').html(appt['studentName']);
                    $('#actual-start-data').html(appt['actualStart']);
                    $('#actual-end-data').html(appt['actualEnd']);
                    $('#no-show-data').html(appt['noShow']);
                    $('#notes-data').html(appt['notes']);
                    $('#suggestions-data').html(appt['suggestions']);
                    $('#select-course-container').hide();
                    $('#assignment-description-container').hide();
                    $('#schedule-container').hide();
                    $('#cancel-container').hide();
                    $('#request-container').hide();
                    $('#pickup-container').hide();
                }
            },
            error: function (error) {
            }
        });
        $('#info-modal').modal('show');
    }

    function scheduleAppointment() {
        let appt_id = $('#appt-id').val();
        let course = '';
        $('#courses option:selected').each(function () {
            course = this.id;
        });
        let assignment = $('#assignment').val();
        $.ajax({
            type: "POST",
            url: "{{ url_for('AppointmentsView:schedule_appointment') }}",
            data: JSON.stringify({
                'appt_id': appt_id,
                'course': course,
                'assignment': assignment
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (response) {
                window.location.reload();
            },
            error: function (error) {
            }
        });
    }

    function cancelAppointment() {
        let appt_id = $('#appt-id').val();
        $.ajax({
            type: "POST",
            url: "{{ url_for('AppointmentsView:cancel_appointment') }}",
            data: JSON.stringify({
                'appt_id': appt_id
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (response) {
                window.location.reload();
            },
            error: function (error) {
            }
        });
    }

    function deleteAppointment(type) {
        let appt_id = $('#appt-id').val();
        $.ajax({
            type: "POST",
            url: "{{ url_for('SchedulesView:delete_appointment') }}",
            data: JSON.stringify({
                'appt_id': appt_id,
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (response) {
                if (response === 'sub') {
                    if (type === 'request') {
                        $('#request-sub-container').html("<h6><b>Error!</b> You cannot delete the appointment since it is already scheduled. Instead request a substitute by clicking on the button.</h6><button style=\"margin-left: 10px\" class=\"btn btn-primary darkblue\" onclick=\"requestSub()\">Request Substitute</button>")
                    } else if (type === 'pickup') {
                        $('#pickup-sub-container').html("<h6><b>Error!</b> You cannot delete the appointment since it is already scheduled. Instead request a substitute by clicking on the button.</h6><button style=\"margin-left: 10px\" class=\"btn btn-primary darkblue\" onclick=\"requestSub()\">Request Substitute</button>")
                    }
                } else {
                    let event = calendar.getEventById(response);
                    event.remove();
                    window.location.reload();
                }
            },
            error: function (error) {
            }
        });
    }

    function subAppointment() {
        let appt_id = $('#appt-id').val();
        $.ajax({
            type: "POST",
            url: "{{ url_for('SchedulesView:pickup_shift') }}",
            data: JSON.stringify({
                'appt_id': appt_id,
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (response) {
                window.location.reload();
            },
            error: function (error) {
            }
        });
    }

    function requestSub() {
        let appt_id = $('#appt-id').val();
        $.ajax({
            type: "POST",
            url: "{{ url_for('SchedulesView:request_substitute') }}",
            data: JSON.stringify({
                'appt_id': appt_id
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (response) {
                window.location.reload();
            },
            error: function (error) {
            }
        });
    }
</script>
