{% macro calendar_key(subs=None) %}
    <h3>Calendar Key</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Color</th>
                <th>Meaning</th>
            </tr>
        </thead>
        <tbody>
            <tr id="face_to_face_key">
                <td class="calendar-blue">Blue</td>
                <td>F2F Appointment</td>
            </tr>
            <tr id="virtual_key">
                <td class="calendar-purple">Purple</td>
                <td>Virtual Appointment</td>
            </tr>
            <tr id="multilingual_key">
                <td class="calendar-orange">Orange</td>
                <td>F2F Multilingual Appointment</td>
            </tr>
            <tr id="virtual_multilingual_key">
                <td class="calendar-green">Green</td>
                <td>Virtual Multilingual Appointment</td>
            </tr>
            {% if subs %}
                <tr>
                    <td class="calendar-red">Red</td>
                    <td>Sub Requested</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endmacro %}