SERVER_DOWN = False
ERROR_MESSAGE = "Sorry! The server is temporarily down. Please try again later."

TEST_NAME = ""
TEST_EMAILS = ""

secret_key = ""
SECRET_KEY = ""

SENTRY_URL = ""

GC_CLIENT_SECRET = ""

ENVIRON = ""

DATABASE_KEY = ""

WSAPI_SECRET = ""