a.btn-danger{
    color: white !important;
}

a.dashboard-link{
    color: black;
    text-decoration: none;
}

a.disabled:hover {
    color: black !important;
}

a.nav-link.button {
    color: #fff !important;
}

a.nav-link.button.nav-bar-active {
    color: #FFC600 !important;
}

a.nav-link:hover{
    color: #FFC600 !important;
}

a.nav-link:focus, a.nav-link:hover.active {
    text-decoration: none !important;
    color: white !important;
}

body {
    background: #fff;
    color: #222;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.5;
    position: relative;
    cursor: auto;
}

button.cleanse{
    margin-bottom: 10px;
}

div.centered {
    text-align:center;
}

div.dashboard-card{
    background-color: #f2f2f2;
    border-color: #d8d8d8;
    margin-top: 10px;
}

div.dashboard-info{
    background-color: #f2f2f2;
    border-color: #d8d8d8;
    margin-top: 10px;
}

div.dropdown {
    cursor: pointer;
    color: #fff;
}

div.footer {
    background-color: #fafafa;
    border-color: #d8d8d8;
    text-align: left;
    border-top: 1px solid #eee;
    margin-top: 3em;
    color: #6c757d;
    font-size: 0.9em;
}

div.info {
    background-color: #f2f2f2;
    border-color: #d8d8d8;
}

div.settings-card{
    background-color: #f2f2f2;
    border-color: #d8d8d8;
    margin-top: 10px;
}

/* html {} */

html, body {
    background-color: #fafafa;
}

li.list-group-item{
    background-color: #fafafa;
}

nav a {
    color: gray;
}

nav.navbar{
    padding: 0 10px;
}

option.select-hr {
    border-bottom: 1px solid #000;
}

span.lab-title{
    color: #ffc600
}

ul.list-group{
    margin-top: 10px;
}

.active {
    max-height: 30px;
    background-color: #0F2C52;
    color: white !important;
    border-radius: 6px;
    padding: 3px 16px
}

.background-blue {
    background-color: #123563 !important;
    border-color: #0F2C52;
}

.calendar-blue{
    background-color: #4169E1;
}

.calendar-green{
    background-color: green;
}

.calendar-orange{
    background-color: orange;
}

.chosen {
    height: 29px !important;
}

.chosen-container {
    min-width: 100%;
}

.chosen-format {
    border: 1px solid #aaa !important;
    border-radius: 0 !important;
    padding: 0 5px;
    height: 29px;
    font-size: .875rem !important;
}

.collapsible::after {
	content: "\f107";
	color: white;
    font-family: "FontAwesome";
}

.collapsible[aria-expanded="true"]::after {
	content: "\f106";
}

.custom-user-div {
    color: white;
    display: inline-block !important;
}

.custom-user-p {
    margin: 10px 0;
}

.custom-user-nav {
    padding: 0 10px;
    background-color: tomato;
}

.darkblue {
    background-color: #0F2C52;
    border-color: #0F2C52;
    color: #ffffff;
}

.confirmation {
    border: 1px dotted grey;
    padding: 10px;
    float: left;
}

.disable {
    background-color: red;
    border-color: red;
    color: black;
}

.fc .fc-row .fc-content-skeleton table, .fc .fc-row .fc-content-skeleton td, .fc .fc-row .fc-mirror-skeleton td {
    border-color: #ddd !important;
}

.fc-unthemed td.fc-today {
    background: yellow !important;
}

.form-check-input {
    margin-left: 0px !important;
}

.form-check-label {
    margin-left: 20px;
}

.nav.margins {
    padding: 0 40px;
}

.margins {
    width: 100%;
    margin: 20px auto;
}

.navbar {
    padding: 1em 2em !important;
}

.wc-margins {
    width: 100%;
    margin: 20px auto;
    max-width: 95%;
}

.email-form {
    height: 30px;
}


.enable {
    background-color: greenyellow;
    border-color: greenyellow;
    color: black;
}

.message-form {
    display: block;
}

.nav-buttons {
    font-size: 1.6em;
    color: #123563;
}

.no-decoration {
    text-decoration: none !important;
}

.one-line {
    white-space: nowrap;
}

.pref-button {
    font-size: .8em;
}

.search-btn {
    float: right;
}

.spinner-img {
    position: fixed;
    margin-left: 40%;
}

.square-colors {
    margin-right: 63px;
    width: 30px;
    height: 30px;
    flex: 0 0 4%;
}

.ss-multiple-selected {
    min-height: 30px !important;
}

.transparent {
    background-color: transparent;
    border: none;
    padding: 0px;
}

.user-search-result {
    border: 1px dotted grey;
    padding: 10px;
    float: left;
}

#delete-confirm {
    margin-bottom: 15px;
}

#spinner {
    position: absolute;
    z-index: 999;
}
