{% extends 'writing_center_base.html' %}

{% block page_title %}Settings{% endblock %}

{% block body_content %}
    <div class="jumbotron">
        <h1>System Settings</h1>
        <p>You can adjust the system settings here.</p>
    </div>
    <button class="btn btn-danger cleanse" data-toggle="modal" data-target="#cleanseConfirm">Cleanse System</button>
    <p>At the end of the semester you can click this button to do the following:</p>
    <ul>
        <li>All current student users will be deactivated (meaning they will not show up in the User list, but their
            data will still be taken into account for statistics)</li>
        <li>Unban all currently banned users</li>
    </ul>

    <div class="row">
        {% for setting in settings %}
            {% if setting.name == 'Appointment Limit' %}
                <div class="col-md-6">
                    <div class="card settings-card">
                        <div class="card-body">
                            <h5>Appointment Limit</h5>
                            <p>Each student can sign up for {{ setting.value }} appointments in a week.</p>
                            <br>
                            <div class="input-group mb-3">
                                <input id="app-limit" type="text" class="form-control" value="{{ setting.value }}" disabled aria-describedby="edit-app-limit">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="edit-app-limit">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif setting.name == 'Time Limit' %}
                <div class="col-md-6">
                    <div class="card settings-card">
                        <div class="card-body">
                            <h5>Time Limit</h5>
                            <p>Each appointment closes sign-ups {{ setting.value }} minutes before the end time.
                                <br>
                                <small>(This value can be negative to allow students to sign up after appointments start)</small>
                            </p>
                            <div class="input-group mb-3">
                                <input id="time-limit" type="text" class="form-control" value="{{ setting.value }}" disabled aria-describedby="edit-time-limit">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="edit-time-limit">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        {% for setting in settings %}
            {% if setting.name == 'Ban Limit' %}
                <div class="col-md-6">
                    <div class="card settings-card">
                        <div class="card-body">
                            <h5>Ban Limit</h5>
                            <p>Each student will be banned after {{ setting.banLimit }} no shows.</p>
                            <br>
                            <div class="input-group mb-3">
                                <input id="ban-limit" type="text" class="form-control" value="{{ setting.value }}" disabled aria-describedby="edit-ban-limit">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="edit-ban-limit">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif setting.name == 'Qualtrics Link' %}
                <div class="col-md-6">
                    <div class="card settings-card">
                        <div class="card-body">
                            <h5>Qualtrics Link</h5>
                            <p>Here is the link that will be given after each appointment.</p>
                            <br>
                            <div class="input-group mb-3">
                                <input id="qualtrics" type="text" class="form-control" value="{{ setting.value }}" disabled aria-describedby="edit-qualtrics">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="edit-qualtrics">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="cleanseConfirm" tabindex="-1" role="dialog" aria-labelledby=cleanseConfirmLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="cleanseConfirmLabel">Confirm Cleanse</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to cleanse the system?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger" href="{{ url_for('SettingsView:cleanse') }}">Confirm Cleanse</a>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){

            function makeChange(setting_name, new_setting){
                var url = '{{ url_for("SettingsView:change_settings") }}';
                var settings = {
                    'setting_name': setting_name,
                    'new_setting': new_setting
                };
                $.post(url, settings, function(){
                    window.location.replace('{{ url_for("SettingsView:index") }}');
                });
            }

            $('#edit-app-limit').click(function(){
                if($(this).text() === "Edit") {
                    $(this).text("Submit");
                    document.getElementById("app-limit").disabled = false;
                }else{
                    makeChange('Appointment Limit', $('#app-limit').val());
                    $(this).text("Edit");
                    document.getElementById("app-limit").disabled = true;
                }
            });

            $('#edit-time-limit').click(function(){
                if($(this).text() === "Edit") {
                    $(this).text("Submit");
                    document.getElementById("time-limit").disabled = false;
                }else{
                    makeChange('Time Limit', $('#time-limit').val());
                    $(this).text("Edit");
                    document.getElementById("time-limit").disabled = true;
                }
            });

            $('#edit-ban-limit').click(function(){
                if($(this).text() === "Edit") {
                    $(this).text("Submit");
                    document.getElementById("ban-limit").disabled = false;
                }else{
                    makeChange('Ban Limit', $('#ban-limit').val());
                    $(this).text("Edit");
                    document.getElementById("ban-limit").disabled = true;
                }
            });

            $('#edit-qualtrics').click(function(){
                if($(this).text() === "Edit") {
                    $(this).text("Submit");
                    document.getElementById("qualtrics").disabled = false;
                }else{
                    makeChange('Qualtrics Link', $('#qualtrics').val());
                    $(this).text("Edit");
                    document.getElementById("qualtrics").disabled = true;
                }
            });

        });
    </script>
{% endblock %}