{% extends 'writing_center_base.html' %}

{% block body_content %}
    <div class="jumbotron">
        <h1>System Settings</h1>
        <p>You can adjust the system settings here.</p>
    </div>

    <a class="btn btn-primary" href="{{ url_for('SettingsView:cleanse') }}">Cleanse System</a>
    <p>At the end of the semester you can click this button to do the following:</p>
    <ul>
        <li>Deactivate all current student users (this will not deactivate users with multiple roles)</li>
        <li>Unban all currently banned users</li>
    </ul>

    <div class="row">
        {% for setting in settings %}
            {% if setting.name == 'Appointment Limit' %}
                <div class="col-md-6">
                    <div class="card settings-card">
                        <div class="card-body">
                            <h5>Appointment Limit</h5>
                            <p>Each student can sign up for {{ setting.value }} appointments in a week.</p>
                            <div class="input-group mb-3">
                                <input id="app-limit" type="text" class="form-control" value="{{ setting.value }}" disabled aria-describedby="edit-app-limit">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="edit-app-limit">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif setting.name == 'Time Limit' %}
                <div class="col-md-6">
                    <div class="card settings-card">
                        <div class="card-body">
                            <h5>Time Limit</h5>
                            <p>Each appointment closes sign-ups {{ setting.value }} hours before the start time.</p>
                            <div class="input-group mb-3">
                                <input id="time-limit" type="text" class="form-control" value="{{ setting.value }}" disabled aria-describedby="edit-time-limit">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="edit-time-limit">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="row">
        {% for setting in settings %}
            {% if setting.name == 'Ban Limit' %}
                <div class="col-md-6">
                    <div class="card settings-card">
                        <div class="card-body">
                            <h5>Ban Limit</h5>
                            <p>Each student will be banned after {{ setting.banLimit }} no shows.</p>
                            <div class="input-group mb-3">
                                <input id="ban-limit" type="text" class="form-control" value="{{ setting.value }}" disabled aria-describedby="edit-ban-limit">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="edit-ban-limit">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% elif setting.name == 'Qualtrics Link' %}
                <div class="col-md-6">
                    <div class="card settings-card">
                        <div class="card-body">
                            <h5>Qualtrics Link</h5>
                            <p>Here is the link that will be given after each appointment.</p>
                            <div class="input-group mb-3">
                                <input id="qualtrics" type="text" class="form-control" value="{{ setting.value }}" disabled aria-describedby="edit-qualtrics">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="edit-qualtrics">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <script type="text/javascript">
        $(document).ready(function(){

            function makeChange(setting_name, new_setting){
                var url = '{{ url_for("SettingsView:change_settings") }}';
                var settings = {
                    'setting_name': setting_name,
                    'new_setting': new_setting
                };
                $.post(url, settings, function(){
                    window.location.replace('{{ url_for("SettingsView:index") }}');
                });
            }

            $('#edit-app-limit').click(function(){
                if($(this).text() === "Edit") {
                    $(this).text("Submit");
                    document.getElementById("app-limit").disabled = false;
                }else{
                    makeChange('Appointment Limit', $('#app-limit').val());
                    $(this).text("Edit");
                    document.getElementById("app-limit").disabled = true;
                }
            });

            $('#edit-time-limit').click(function(){
                if($(this).text() === "Edit") {
                    $(this).text("Submit");
                    document.getElementById("time-limit").disabled = false;
                }else{
                    makeChange('Time Limit', $('#time-limit').val());
                    $(this).text("Edit");
                    document.getElementById("time-limit").disabled = true;
                }
            });

            $('#edit-ban-limit').click(function(){
                if($(this).text() === "Edit") {
                    $(this).text("Submit");
                    document.getElementById("ban-limit").disabled = false;
                }else{
                    makeChange('Ban Limit', $('#ban-limit').val());
                    $(this).text("Edit");
                    document.getElementById("ban-limit").disabled = true;
                }
            });

            $('#edit-qualtrics').click(function(){
                if($(this).text() === "Edit") {
                    $(this).text("Submit");
                    document.getElementById("qualtrics").disabled = false;
                }else{
                    makeChange('Qualtrics Link', $('#qualtrics').val());
                    $(this).text("Edit");
                    document.getElementById("qualtrics").disabled = true;
                }
            });

        });
    </script>
{% endblock %}