{% extends 'statistics/base.html' %}

{% block page_title %}Hours{% endblock %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>View Hours Worked</b></h1>
        <p>Displays the hours worked within a given time period.</p>
    </div>

    <form>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="start-date">Start Date</label>
                    <input class="form-control datepicker" id="start-date" type="text" readonly/>
                    <div id="start-container"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="end-date">End Date</label>
                    <input class="form-control datepicker" id="end-date" type="text" readonly/>
                    <div id="end-container"></div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <input type="button" id="search" class="btn btn-primary" value="Search" onclick="searchHours()">
        </div>
    </form>
    <hr>
    {# Where hours worked gets displayed #}
    <div id="results"></div>

    <script>
     $(document).ready(function () {
            $('.datepicker').each(function () {
                let current_element = $(this);
                let maxDate = new Date();
                let dd = maxDate.getDate();
                let mm = maxDate.getMonth() + 1;
                let yyyy = maxDate.getFullYear() + 2;
                if (dd < 10) {
                  dd = '0' + dd;
                }

                if (mm < 10) {
                  mm = '0' + mm;
                }
                maxDate = yyyy + '-' + mm + '-' + dd;
                let starting_values = {
                    field: this,
                    format: 'MM DD YYYY',
                    minDate: new Date('2010-01-01'),
                    maxDate: new Date(maxDate),
                    yearRange: [2010, yyyy],
                    disableDayFn: function (date) {
                        let start_populated = $("#start-date").val();
                        let end_populated = $("#end-date").val();
                        if (start_populated == "" && end_populated == "") {
                            return null;
                        } else if (start_populated != "" && current_element.attr('id') == 'end-date') {
                            if (new Date(start_populated) >= date) {
                                return date;
                            }
                        } else if (end_populated != "" && current_element.attr('id') == 'start-date') {
                            if (new Date(end_populated) <= date) {
                                return date;
                            }
                        }
                    }
                };
                starting_values['defaultDate'] = new Date();
                starting_values['setDefaultDate'] = true;

                let picker = new Pikaday(starting_values);
            });
        });

     function searchHours() {
         let startDate = $('#start-date').val();
         let endDate = $('#end-date').val();
         $.ajax({
             type: "POST",
             url: "{{ url_for('StatisticsView:get_hours_worked') }}",
             data: JSON.stringify({
                 'start': startDate,
                 'end': endDate
             }),
             contentType: 'application/json;charset=UTF-8',
             success: function (response) {
                 $('#results').html(response);
             },
             error: function (error) {
             }
         });
     }

    </script>
{% endblock %}