<div class="form-row">
    <div class="form-group col-md-12">
        <div id="modal-results"></div>
        <table id="table"  class="table mobile table-striped table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Student Name</th>
                    <th>Student Username</th>
                    <th>Instructor Name</th>
                    <th>Course or Tag</th>
                    <th>More Info</th>
                </tr>
            </thead>
            <tbody>
                {% for appt in appointments %}
                    <tr>
                        {% set student = id_to_user(appt.student_id) %}
                        <td data-th="Date">{{ appt.scheduledStart|datetimeformat('%m/%d/%y') }}</td>
                        <td data-th="Time">{{ appt.scheduledStart|datetimeformat }} - {{ appt.scheduledEnd|datetimeformat }}</td>
                        <td data-th="Student Name">{{ student.firstName }} {{ student.lastName }}</td>
                        <td data-th="Student Username">{{ student.username }}</td>
                        <td data-th="Instructor Name">{{ appt.profName }}</td>
                        <td data-th="Course or Tag">{{ appt.courseCode }}</td>
                        <td data-th="More Info"><input type="button" class="btn btn-primary darkblue" value="More Info" onclick="viewInfo({{ appt.id }})"></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="10"><b>{{ user.firstName }} {{ user.lastName }} has worked {{ time }} hours worked between {{ start }} and {{ end }}</b></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready( function () {
        $.extend($.fn.dataTableExt.oStdClasses, {
            // give some foundation classes to our controls
            sLength: 'large-4 columns ',
            sFilter: 'large-12 columns ',
        });

        var table = $('#table').DataTable({
            searching: false,
            paging: false,
            pageLength: false,
        });
    });

    function viewInfo(appt_id) {
        $.ajax({
            type: "POST",
            url: "{{ url_for('AppointmentsView:load_appointment_data') }}",
            data: JSON.stringify({
                'id': appt_id,
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (response) {
                $('#modal-results').html(response);
                $('#info-modal').modal('show');
            },
            error: function (error) {
            }
        });
    }
</script>