{% extends 'statistics/index.html' %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>View Hours Worked</b></h1>
        <p>Displays the hours worked within a given time period.</p>
    </div>
    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="hours-startdate">Click Start Date:</label>
                <input type="datetime" id="hours-startdate" class="date hasDatepicker chosen-container"placeholder="Choose a Starting Date..." >
            </div>
            <div class="form-group col-md-4">
                <label for="hours-enddate">Click End Date:</label>
                <input type="datetime" id="hours-enddate" class="date hasDatepicker chosen-container" placeholder="Choose an Ending Date...">
            </div>
            <div class="form-group col-md-4">
                <label for="clear-hours">aaaaaaa</label>
                <input type="button" id="clear-hours" class="btn btn-danger" value="Clear Search" onclick="clearSearch('hour')">
            </div>
        </div>
    </form>
{% endblock %}