{% extends 'statistics/index.html' %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>View Statistics</b></h1>
        <p>Displays various statistics over the current term.</p>
    </div>
    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="startdate">Click Start Date:</label>
                <input type="datetime" id="startdate" class="date hasDatepicker chosen-container"placeholder="Choose a Starting Date..." readonly>
            </div>
            <div class="form-group col-md-4">
                <label for="enddate">Click End Date:</label>
                <input type="datetime" id="enddate" class="date hasDatepicker chosen-container" placeholder="Choose an Ending Date..." readonly>
            </div>
            <div class="form-group col-md-4">
                <label class="radio"><input style="margin: 0px 5px" type="radio" name="multilingual" value="all" checked>All Appointments</label>
                <label class="radio"><input style="margin: 0px 5px" type="radio" name="multilingual" value="non">Only Non-Multilingual Appointments</label>
                <label class="radio"><input style="margin: 0px 5px" type="radio" name="multilingual" value="multilingual">Only Multilingual Appointments</label>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12 form-check">
                <div class="form-check"><label class="form-check-label" for="view-all"><input id="view-all" class="form-check-input" type="checkbox" checked>View All</label></div>
                <div class="form-check"><label class="form-check-label" for="total-visits"><input id="total-visits" class="form-check-input" type="checkbox">Total Visits</label></div>
                <div class="form-check"><label class="form-check-label" for="busiest-time-of-day"><input id="busiest-time-of-day" class="form-check-input" type="checkbox">Busiest Time of Day</label></div>
                <div class="form-check"><label class="form-check-label" for="busiest-day"><input id="busiest-day" class="form-check-input" type="checkbox">Busiest Day</label></div>
                <div class="form-check"><label class="form-check-label" for="busiest-tutor"><input id="busiest-tutor" class="form-check-input" type="checkbox">Busiest Tutor</label></div>
                <div class="form-check"><label class="form-check-label" for="no-shows"><input id="no-shows" class="form-check-input" type="checkbox">No Shows</label></div>
                <div class="form-check"><label class="form-check-label" for="busiest-week"><input id="busiest-week" class="form-check-input" type="checkbox">Busiest Week</label></div>
                <div class="form-check"><label class="form-check-label" for="by-course"><input id="by-course" class="form-check-input" type="checkbox">By Course</label></div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <button id="search" class="btn btn-primary">Search</button>
                <input type="button" id="clear" class="btn btn-danger" value="Clear Search" onclick="clearSearch()"
            </div>
        </div>
    </form>

    <script>
        function clearSearch()//Clears parameter values
        {
            document.getElementById('startdate').value="";
            document.getElementById('enddate').value="";
        }
        //Load the datepicker jquery
        $(function() {
            $( "#startdate" ).datepicker({dateFormat: 'yy-mm-dd'});
            $( "#enddate" ).datepicker({dateFormat: 'yy-mm-dd'});
        });
        //Clear the startdate and enddate
        $(document).ready(function() {
            $("#clear").click(function(){
                $(".view-reports-input").change();
                $(".checkbox").prop('checked', false);
            })
        });
        $(document).ready(function() {
            $("#search").click(function(){
                viewAll = false;
                totalVisits = false;
                busiestTimeOfDay = false;
                busiestDay = false;
                busiestTutor = false;
                noShows = false;
                busiestWeek = false;
                byCourse = false;
                //getStudentEmail = false;
                // getProfEmail = false;

                //Date issues.
                if($("#startdate").val() == "" || $("#enddate").val() == ""){
                    alert("Please Select a Date Range.")
                    return;
                }

                if($("#startdate").val() != "")
                    startdate = $("#startdate").val();
                else
                    startdate = "none";

                if($("#enddate").val() != "")
                    enddate = $("#enddate").val();
                else
                    enddate = "none";

                if($("#startdate").val() >= $("#enddate").val() ){
                    alert("Please choose a startdate that comes before the enddate");
                    return;
                }

                //Gets the value of multilingual
                multilingual = $('input[name=multilingual]:checked').val();

                if($("#view-all").is(":checked"))
                    viewAll = true;
                if($("#total-visits").is(":checked"))
                    totalVisits = true;
                if($("#busiest-time-of-day").is(":checked"))
                    busiestTimeOfDay = true;
                if($("#busiest-day").is(":checked"))
                    busiestDay = true;
                if($("#busiest-tutor").is(":checked"))
                    busiestTutor = true;
                if($("#no-shows").is(":checked"))
                    noShows = true;
                if($("#busiest-week").is(":checked"))
                    busiestWeek = true;
                if($("#by-course").is(":checked"))
                    byCourse = true;
                // if($("#get-student-email").is(":checked"))
                //  getStudentEmail = true;
                // if($("#get-prof-email").is(":checked"))
                //  getProfEmail = true;
                $.ajax({
                    type: "POST",
                    url: "/writingcenter/observer/statistics/call",
                    data: { startdate: startdate, enddate: enddate, multilingual:multilingual, viewAll: viewAll, totalVisits: totalVisits, busiestTimeOfDay:busiestTimeOfDay, busiestDay:busiestDay, busiestTutor:busiestTutor, noShows:noShows, busiestWeek:busiestWeek, byCourse: byCourse}//, getStudentEmail:getStudentEmail, getProfEmail:getProfEmail}
                    }).done(function ( data ) {
                        $("#content").html(data);
                    });
            });
        });
    </script>

{% endblock %}