{% block body_content %}
    <div class="form-row">
        <div class="form-group col-md-12">
            <p>
                <a id="busyness" class="no-decoration" style="margin-right: 20px" onclick="inputParamsChanged(this.id)" href="#">Busyness Statistics</a>
                <a id="course-busyness" class="no-decoration" onclick="inputParamsChanged(this.id)" href="#">Courses Statistics</a>
            </p>
        </div>
    </div>
    <div class="form-row">
        {% include ('macros/date_selector.html') %}
        <div class="form-group col-md-12">
            <table id="total-visits"  class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Type of Visit</th>
                        <th>Number of Visits</th>
                    </tr>
                </thead>
                <tbody>
                    {% if appointments|length + walk_in_appts|length != 0 %}
                        <tr>
                            <td>Appointments</td>
                            <td>{{ appointments|length }}</td>
                        </tr>
                        <tr>
                            <td>Walk In Appointments</td>
                            <td>{{ walk_in_appts|length }}</td>
                        </tr>
                        <tr>
                            <td>No Show Appointments (not included in the total)</td>
                            <td>{{ no_show_appts|length }}</td>
                        </tr>
                        <tr>
                            <td><b>Total Visits</b></td>
                            <td><b>{{appointments|length + walk_in_appts|length }}</b></td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    {% if busiest_tod is defined %}
        <div class="form-row">
            {% if busiest_tod is defined %}
            <div class="form-group col-md-6">
                <table id="busiest-tod"  class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Time of Day</th>
                            <th>Number of Appointments</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tod, number_of_appts in busiest_tod.items() %}
                            <tr>
                                <td>{{ tod }}</td>
                                <td>{{ number_of_appts }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            <div class="form-group col-md-6">
                <table id="busiest-tutor"  class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Tutor</th>
                            <th>Number of Appointments</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for username, hours in busiest_tutors.items() %}
                                <tr>
                                    <td>{{ username }}</td>
                                    <td>{{ hours }}</td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">

                <table id="busiest-day"  class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Day</th>
                            <th>Number of Appointments</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for day, number_of_appts in busiest_day.items() %}
                                <tr>
                                    <td>{{ day }}</td>
                                    <td>{{ number_of_appts }}</td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
            <div class="form-group col-md-6">
                <table id="busiest-week"  class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Week</th>
                            <th>Number of Appointments</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for week in busiest_week %}
                            <tr>
                                <td>{{ week }}</td>
                                <td>{{ busiest_week[week]['count'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}
    {% if courses is defined %}
        <div class="form-row">
            <div class="form-group col-md-12">
                <table id="courses"  class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Tag</th>
                            <th>Section</th>
                            <th>Prof Name</th>
                            <th>Number of Appointments</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                            <tr>
                                <td>{{ courses[course]['courseCode'] }}</td>
                                <td>{{ courses[course]['tag'] }}</td>
                                <td>{{ courses[course]['section'] }}</td>
                                <td>{{ courses[course]['profName'] }}</td>
                                <td>{{ courses[course]['count'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    <script>
        $(document).ready( function () {
            $.extend($.fn.dataTableExt.oStdClasses, {
                // give some foundation classes to our controls
                sLength: 'large-4 columns ',
                sFilter: 'large-12 columns ',
            });

            let table1 = $('#total-visits').DataTable( {
                "ordering": false,
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false
            });

            let table3 = $('#busiest-day').DataTable( {
                "aaSorting": [[1, 'desc']],
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false
            });

            let table4 = $('#busiest-tod').DataTable( {
                "aaSorting": [[1, 'desc']],
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false
            });

            let table5 = $('#busiest-week').DataTable( {
                "aaSorting": [[1, 'desc']],
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false
            });

            let table6 = $('#busiest-tutor').DataTable( {
                "aaSorting": [[1, 'desc']],
                "aoColumns": [
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                ],
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false
            });

            let table7 = $('#courses').DataTable( {
                "aaSorting": [[4, 'desc']],
                "aoColumns": [
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                ],
                "bPaginate": false,
                "bLengthChange": false,
                "bFilter": false,
                "bInfo": false
            });

        });
    </script>
{% endblock %}