{% extends 'users/base.html' %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>Manage Bans</b></h1>
        <p>Ban or unban a student. A banned student is unable to sign-up for appointments.</p>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <h1>Ban a Student</h1>
        </div>
    </div>
    <form>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="firstName">Student First Name:</label>
                <input type="text" id="first-name" class="chosen-container" name="firstName" placeholder="Student First Name...">
            </div>
            <div class="form-group col-md-3">
                <label for="lastName">Student Last Name:</label>
                <input type="text" id="last-name" class="chosen-container" name="lastName" placeholder="Student Last Name...">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-1">
                <button type="button" class="btn btn-primary darkblue" id="search-users">Search</button>
            </div>
        </div>
        {# spinner placeholder #}
        <div id="spinner" class="spinner" style="display: none;">
            <img id="img-spinner" class="spinner-img" src="https://cdn1.bethel.edu/images/load.gif" alt="Loading"/>
        </div>
    </form>
    <div id="search-results"></div>
    <hr>
    <div id="results" style="display: none">
        {% include 'users/ban_all_confirmation.html' %}
    </div>
    <div class="form-row">
        <div class="form-group">
            <h1><b>Banned Students</b></h1>
        </div>
    </div>
    <div class="form-row banned-users">
        {% include 'users/banned_users_table.html' %}
    </div>

    <script>
        $(document).ready(function(){

            function loadUsers(data){
                $('#search-results').html(data);
            }

           $('#search-users').click(function(){
               $('#spinner').show();
               var name = {
                   'firstName': $('#first-name').val(),
                   'lastName': $('#last-name').val()
                };
               var url = "{{ url_for('UsersView:search_ban_users') }}";
               $.post(url, name, function(data){
                  loadUsers(data);
                   $('#spinner').hide();
               });
           });

        });
    </script>

{% endblock %}
