{% extends 'users/index.html' %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>Manage Bans</b></h1>
        <p>Ban or unban a student. A banned student is unable to sign-up for appointments.</p>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <h1>Ban a Student</h1>
        </div>
    </div>
    <form>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="firstName">Student First Name:</label>
                <input type="text" id="first-name" class="chosen-container" name="firstName" placeholder="Student First Name...">
            </div>
            <div class="form-group col-md-3">
                <label for="lastName">Student Last Name:</label>
                <input type="text" id="last-name" class="chosen-container" name="lastName" placeholder="Student Last Name...">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-1">
                <button type="button" class="btn btn-small btn-primary" id="search-users">Search</button>
            </div>
            <div class="form-group col-md-1">
                <button class="btn btn-small btn-primary btn-warning" onclick="clearSearch()" id="clear-params">Clear search</button>
            </div>
        </div>
        {# spinner placeholder #}
        <div id="spinner" class="spinner" style="display: none;">
            <img id="img-spinner" class="spinner-img" src="https://cdn1.bethel.edu/images/load.gif" alt="Loading"/>
        </div>
    </form>
    <div id="search-results"></div>
    <hr>
    <div class="form-row">
        <div class="form-group">
            <h1><b>Banned Students</b></h1>
        </div>
    </div>
    <div class="form-row">
        <table id="table"  class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th data-toggle="tooltip" data-placement="top" title="User Last Name">Last</th>
                    <th data-toggle="tooltip" data-placement="top" title="User First Name">First</th>
                    <th data-toggle="tooltip" data-placement="top" title="Date Banned">Date Banned</th>
                    <th data-toggle="tooltip" data-placement="top" title="User Username">Username</th>
                    <th data-toggle="tooltip" data-placement="top" title="User Email">Email</th>
                    <th data-toggle="tooltip" data-placement="top" title="Remove Bans">Remove Bans</th>
                </tr>
                <tr>
                    <th colspan="5"></th>
                    <th colspan="1">
                    {# TODO MAYBE THINK OF USING AJAX INSTEAD OF A FORM SINCE WE DON'T NEED TO CHANGE THE PAGE, JUST UPDATE THE HTML#}
                        <form action="{{ url_for('UsersView:remove_all_bans') }}" method="post">
                        {# TODO ADD SOME SORT OF CONFIRMATION SO THAT YOU CAN'T REMOVE ALL BANS WITH ONE CLICK#}
                            <button id="remove-all" type="submit" class="btn btn-primary btn-danger hover-bright">Remove All Bans</button>
                        </form>
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for user, banned in users %}
                <tr>
                    <td>
                        {{ user.lastName }}
                    </td>
                    <td>
                        {{ user.firstName }}
                    </td>
                    <td>
                        {{ banned.bannedDate }}
                    </td>
                    <td>
                        {{ user.username }}
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                    <td>
                        {# TODO MAYBE THINK OF USING AJAX INSTEAD OF A FORM SINCE WE DON'T NEED TO CHANGE THE PAGE, JUST UPDATE THE HTML#}
                        <form action="{{ url_for('UsersView:remove_ban', user_id=user.id) }}" method="post">
                            <button id="remove-ban" type="submit" href='#' class="btn btn-primary btn-danger">Remove Ban</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        $(document).ready(function(){

            function loadUsers(data){
                $('#search-results').html(data);
            }

           $('#search-users').click(function(){
               $('#spinner').show();
               var name = {
                   'firstName': $('#first-name').val(),
                   'lastName': $('#last-name').val()
                };
               var url = "{{ url_for('UsersView:search_ban_users') }}";
               $.post(url, name, function(data){
                  loadUsers(data);
                   $('#spinner').hide();
               });
           });

        });

        function clearSearch()//Clears parameter values
        {
            document.getElementById('username').value = "";
            document.getElementById('firstName').value = "";
            document.getElementById('lastName').value = "";
        }
    </script>

{% endblock %}
