{% extends 'writing_center_base.html' %}

{% block header %}
    <div class="header card">
        <div class="card-body">
            <p class="card-text">Send Email.</p>
        </div>
    </div>
{% endblock %}

{% block body_content %}
    <div class="sub-nav">
        <a class="nav-buttons btn btn-link" id="message-preferences" href="#">Message preferences</a> <!-- url_to message preferences -->
        <a class="nav-buttons btn btn-link" id="message-users" href="#">Message Users</a> <!-- url_to message users -->
        <a class="nav-buttons btn btn-link" id="message-tutors" href="#">Message Tutors</a> <!-- url_to message tutors -->
        <a class="nav-buttons btn btn-link" id="message-students" href="#">Message Students</a> <!-- url_to message students -->
    </div>

    {% block tab_content %}

    {% endblock %}
{% endblock %}

