{% extends "message_center/index.html" %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>Message Preferences</b></h1>
        <p>Choose when to receive automated emails</p>
    </div>

    <a class="btn btn-primary pref-button enable" id="substitute">Enable</a>
    <label id="substitue-text">Receive an email when a tutor requests a substitute</label> <!--changes email preferences table to reflect this 'subscription-->
    <br/>
    <a class="btn btn-primary pref-button disable" id="shift">Disable</a>
    <label for="shift" id="shift-text">Receive an email when a student signs up for one of your shifts</label> <!--changes email preferences table to reflect this 'subscription-->
{% endblock %}
