{% extends "message_center/index.html" %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>Email Preferences</b></h1>
        <p>Choose when to receive automated emails</p>
    </div>

    <button class="btn btn-primary pref-button enable" id="substitute" onclick="changeSubstituePref()">Enable</button> <!--TODO: need to include logic to reflect users preferences-->
    <label for="substitute" id="substitue-text">Receive an email when a tutor requests a substitute</label> <!--changes email preferences table to reflect this 'subscription'-->
    <br/>
    <button class="btn btn-primary pref-button enable" id="shift" onclick="changeShiftPref()">Enable</button>
    <label for="shift" id="shift-text">Receive an email when a student signs up for one of your shifts</label> <!--changes email preferences table to reflect this 'subscription'-->
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript">
        function changeSubstituePref() {
            if($("#substitute").hasClass("enable")) {
                $("#substitute").removeClass("enable").addClass("disable");
                $("#substitute").text("Disable");
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for("MessageCenterView:toggle_substitute") }}',
                    data: {'substitute': 1}
                })
            }else {
                $("#substitute").removeClass("disable").addClass("enable");
                $("#substitute").text("Enable");
                $.ajax({
                    type: 'POST',
                    url: '{{ url_for("MessageCenterView:toggle_substitute") }}',
                    data: {'substitute': 0}
                })
            }
        }

        function changeShiftPref() { // TODO: Write this function to actually change the values over in python
            if($("#shift").hasClass("enable")) {
                $("#shift").removeClass("enable").addClass("disable");
                $("#shift").text("Disable");
            }else {
                $("#shift").removeClass("disable").addClass("enable");
                $("#shift").text("Enable");
            }
        }
    </script>
{% endblock %}
