{% extends "message_center/index.html" %}

{% block tab_content %}
    <a class="btn btn-primary pref-button enable" id="substitute">Enable</a>
    <label id="substitue-text">Receive an email when a tutor requests a substitute</label> <!--Backend functionality necessary-->
    <br/>
    <a class="btn btn-primary pref-button disable" id="shift">Disable</a>
    <label for="shift" id="shift-text">Receive an email when a student signs up for one of your shifts</label> <!--Backend functionality necessary-->
{% endblock %}
