{% extends "message_center/base.html" %}

{% block page_title %}Message Center{% endblock %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>Send Email</b></h1>
    </div>
    <div class="custom-default row">
        <div class="col-md-8">
            <form action="{{ url_for('MessageCenterView:test') }}" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="choose-recipients">Recipients</label>
                        <select name="recipients" id="choose-recipients" multiple>
                            {% for role in roles %}
                                <option value="{{ role.id }}">{{ role.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6 email">
                        <label for="subject">Subject</label> <!-- Cant be empty -->
                        <input name="subject" type="text" class="form-control email-form" id="subject" autocomplete="off" required pattern="\S+.*"/> 
                        <!-- required means its required, the other means the subject can't just be whitespace -->
                    </div>
                </div>
                <div class="form-row">
                    <div id="cc-div" class="form-group col-md-12 email">
                        <label for="choose-cc">CC</label>
                        <select name="cc" id="choose-cc" multiple>
                            {% for user in users %}
                                <option value="{{ user.id }}">{{ user.lastName}}, {{ user.firstName }} | {{ user.email }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div id="bcc-div" class="form-group col-md-12 email">
                        <label for="choose-bcc">BCC</label>
                        <select name="bcc" id="choose-bcc" multiple>
                            {% for user in users %}
                                <option value="{{ user.id }}">{{ user.lastName}}, {{ user.firstName }} | {{ user.email }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="message">Message</label> <!-- Cant be empty -->
                        <textarea name="message" class="form-control" rows="5" cols="67" required pattern="\S+.*"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <button type="submit" class="btn blue btn-primary" id="send-email">Send</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="sub-info card info">
                <div class="card-body">
                    <p class="card-text">
                        Send emails to groups using the recipients tab and individuals in the CC/BCC tabs
                    </p>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            new SlimSelect({
                select: '#choose-recipients',
                placeholder: 'Choose Recipients ...',
                closeOnSelect: false
            })

            new SlimSelect({
                select: '#choose-cc',
                placeholder: 'Choose CC Recipients',
                closeOnSelect: false
            })

            new SlimSelect({
                select: '#choose-bcc',
                placeholder: 'Choose BCC Recipients',
                closeOnSelect: false
            })
        });
    </script>
{% endblock %}