{% extends "message_center/index.html" %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>Send Message</b></h1>
        <p>Send a message to an individual student, all students, or all tutors</p>
    </div>

    <div class="message-box">
        <form id="message-user-form" action="{{ url_for('MessageCenterView:send_message')}}">
            <label for="user-search">Recipient:</label>
            <input class="message-form" type="text" name="recipient" id="recipient"/>
            <!--We should be able to type the name of the person we want and it comes up, similar to google docs
            Also options initially to message all students or all tutors -->
            <label for="subject">Subject:</label>
            <input class="message-form" type="text" name="subject" id="subject"/>
            
            <label for="message-text">Message Text:</label>            
            <input class="message-form" type="text" name="message-text" id="message-text"/>

            <br/>
            <input class="message-form" type="button" name="submit" value="Submit">
        </form>
    </div>
{% endblock %}