{% extends "message_center/index.html" %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>Send Email</b></h1>
        <p>Send emails to an individual student, all students, or all tutors</p>
    </div>

    <div class="custom-default row">
        <div class="col-md-8">
            <form action="{{ url_for('MessageCenterView:send_email') }}" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="choose-recipients">Recipient Groups</label>
                        <select name="groups" class="chosen form-control" id="choose-recipients" multiple="true"
                            data-placeholder="Choose recipients ...">
                            {% for role in role_list %}
                            <option value="{{ role.id }}">{{ role.name }}</option> <!--TODO: Get roles to place here-->
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="subject">Subject</label>
                        <input name="subject" type="text" class="chosen form-control" id="subject"
                            autocomplete="off">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3 btn-group">
                        <button type="button" class="button-curved blue btn btn-primary" id="show-cc" onclick="ccFunction()">CC</button>
                        <button type="button" class="button-curved blue btn btn-primary" id="show-bcc"onclick="bccFunction()">BCC</button>
                    </div>
                </div>
                <div class="form-row">
                    <div id="cc-div" class="form-group col-md-12 chosen-container email">
                        <label for="choose-cc">CC</label>
                        <select name="cc" class="chosen form-control" id="choose-cc" multiple="true"
                            data-placeholder="Choose CC recipients ...">
                            {% for user in user_list %}
                            <option value="{{ user.id }}">{{ user.firstName }} {{ user.lastName }}</option> <!--TODO: Get users to place here-->
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div id="bcc-div" class="form-group col-md-12 chosen-container email">
                        <label for="choose-bcc">BCC</label>
                        <select name="bcc" class="chosen form-control" id="choose-bcc" multiple="true"
                            data-placeholder="Choose BBC recipients ...">
                            {% for user in user_list %}
                            <option value="{{ user.id }}">{{ user.firstName }} {{ user.lastName }}</option> <!--TODO: Get users to place here-->
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="subject">Message</label>
                        <textarea name="message" class="form-control" rows="15" cols="67"></textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <button type="submit" class="btn blue btn-primary" id="send-email">Send</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <div class="sub-info card info">
                <div class="card-body">
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Amet nisl purus in mollis nunc sed id semper risus. Mi in nulla posuere sollicitudin aliquam. Dictum at tempor
                        commodo ullamcorper. 
                    </p> <!--TODO: Reword this to apply to the writing center stuff-->
                </div>
            </div>
        </div>
    </div>
{% endblock %}