{% block title %}
<img height="48"
    src="https://confluence.bethel.edu/download/attachments/327682/global.logo?version=4&amp;modificationDate=1462424762000&amp;api=v2">
<span class="ml-2  h6 lab-title">Writing Center</span>
{% endblock %}

{% block email_content %}
    {% if virtual == 0 %}
        <h3>You signed up for a <b>FACE-TO-FACE</b> Writing Center Appointment:</h3>
        <p>Date: {{ appt_info['date']}}</p>
        <p>Your scheduled start time: {{ appt_info['time'] }}</p>
        <p>Tutor: {{ appt_info['tutor'] }}</p>
        <p>Location: Writing Center, HC 324C (inside AESC)</p>
        <br/>
        <p>Cancel your appointment <a href="{{ url_for('AppointmentsView:student_view_appointments', _external=True) }}">here</a></p>
        <br/>
        <h4>Feedback Survey</h4>
        <p>
            When your appointment is completed, please click on the link below to complete the survey. We value your
            input! <a href="{{ qualtrics_link }}">Link to survey here</a>.
        </p>

    {% else %}
        <h3>You signed up for a <b>VIRTUAL</b> Writing Center Appointment:</h3>
        <p>Date: {{ appt_info['date']}}</p>
        <p>Your scheduled start time: {{ appt_info['time'] }}</p>
        <p>Tutor: {{ appt_info['tutor'] }}</p>
        <p>Location: Zoom, <a href="{{ zoom_url }}">via link here</a>.</p>
        <br/>
        <h4>For your appointment:</h4>
        <ol>
            <li>Please start this process 5 minutes before your appointed time to make sure your connection and equipment are all working.</li>
            <li>Prepare a link to your assignment sheet/rubric and to your paper draft. Once the appointment starts, you will share this with the tutor though the Zoom chat.</li>
            <li>At the time of your appointment, open <a href="{{ zoom_url }}">the Zoom meeting</a> and wait for the meeting to begin or for the tutor to move you from the waiting room. (Be sure your video and audio are on.)</li>
        </ol>
        <br/>
        <p>Cancel your appointment <a href="{{ url_for('AppointmentsView:student_view_appointments', _external=True) }}">here</a></p>
        <br/>
        <h4>Feedback Survey</h4>
        <p>
            When your appointment is completed, please click on the link below to complete the survey. We value your
            input! <a href="{{ qualtrics_link }}">Link to survey here</a>.
        </p>
    {% endif %}
{% endblock %}

{% block footer %}
<p class="card-text">&copy; 2013-{{ now.strftime('%Y') }} Bethel University</p>
{% endblock %}