{% extends 'email_base.html' %}
{% block email_content %}
    <h3>Appointment Information:</h3>
        <br/>
        <p>Student: {{ appt_info['student'] }}</p>
        <p>Type: {{ appt_info['drop_in'] }}</p> <!-- Was it a drop in appointment or nah? Logic probably needed -->
        <p>Actual Time: {{ appt_info['actual_start']}}-{{ appt_info['actual_end'] }}</p>
        <p>Assignment: {{ appt_info['assignment'] }}</p>
        <br/>
        <p>If you have any questions, comments or concerns, contact <a href="#">SOMEONE</a></p>
{% endblock %}