{% block email_content %}
<img height="48"
    src="https://confluence.bethel.edu/download/attachments/327682/global.logo?version=4&amp;modificationDate=1462424762000&amp;api=v2">
<span class="ml-2  h6 lab-title">Writing Center</span>
    <h3>Substitute Request:</h3>
        <br/>
        <p>Date: {{ appt_info['date'] }}</p>
        <p>Time: {{ appt_info['start_time'] }}</p>
        <p>Student: {{ appt_info['student'] }}</p>
        <p>Assignment: {{ appt_info['assignment'] }}</p>
        <br/>
        <p>Fill this substitute request <a href="#">here</a></p>
        <p>If you have any questions, comments or concerns, contact <a href="#">SOMEONE</a></p>
<p class="card-text">&copy; 2013-{{ now.strftime('%Y') }} Bethel University</p>
{% endblock %}