{% block title %}
<img height="48"
    src="https://confluence.bethel.edu/download/attachments/327682/global.logo?version=4&amp;modificationDate=1462424762000&amp;api=v2">
<span class="ml-2  h6 lab-title">Writing Center</span>
{% endblock %}

{% block email_content %}
<h3>Thank you for signing up for a Writing Support Appointment:</h3>
<br />
<p>Date: {{ appt_info['date']}}</p>
<p>Your scheduled start time: {{ appt_info['time'] }}</p>
<p>Tutor: {{ appt_info['tutor'] }}</p>
<br />
<p>Go to the <a href="https://www.bethel.edu/undergrad/academics/support/writing">Writing Support for CAS</a> page to
    find out more about the Writing Center's services and resources</p>
<p>Cancel your appointment <a href="{{ url_for('AppointmentsView:student_view_appointments') }}">here</a></p>
{% endblock %}

{% block footer %}
<p class="card-text">&copy; 2013-{{ now.strftime('%Y') }} Bethel University</p>
{% endblock %}