<div class="form-row">
    <div class="form-group col-md-12">
        <hr>
        <h2>Appointment:</h2>
        <table id="table"  class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Student First Name</th>
                    <th>Student Last Name</th>
                    <th>Student Username</th>
                    <th>Tutor First Name</th>
                    <th>Tutor Last Name</th>
                    <th>Tutor Username</th>
                    <th>Instructor Name</th>
                    <th>Start Date/Start Time</th>
                    <th>End Date/End Time</th>
                    {% if appt.dropIn == 1 %}
                        <th>Drop In</th>
                    {% elif appt.multilingual == 1 %}
                        <th>Multilingual</th>
                    {% endif %}
                    <th>Course or Tag</th>
                </tr>
            </thead>
            <tbody>
                {% set tutor = id_to_user(appt.tutor_id) %}
                    <tr>
                        {% set student = id_to_user(appt.student_id) %}
                        <td>{{ student.firstName }}</td>
                        <td>{{ student.lastName }}</td>
                        <td>{{ student.username }}</td>
                        <td>{{ tutor.firstName }}</td>
                        <td>{{ tutor.lastName }}</td>
                        <td>{{ tutor.username }}</td>
                        <td>{{ appt.profName }}</td>
                        <td>{{ appt.scheduledStart|datetimeformat('%m/%d/%y') }} - {{ appt.scheduledStart|datetimeformat }}</td>
                        <td>{{ appt.scheduledEnd|datetimeformat('%m/%d/%y') }} - {{ appt.scheduledEnd|datetimeformat }}</td>
                        {% if appt.dropIn == 1 or appt.multilingual == 1 %}
                            <td>Yes</td>
                        {% endif %}
                        <td>{{ appt.courseCode }}</td>
                    </tr>
                    {% if appt.scheduledStart > now %}
                        {% if appt.sub == 1 %}
                            <tr>
                                <td id="pickup" colspan="10">
                                    <button class="btn btn-primary darkblue" onclick="subAppointment({{ appt.id }})">Pick Up Shift</button>
                                    {% if 'Administrator' in session['USER-ROLES'] %}
                                        <button style="margin-left: 10px" class="btn btn-primary btn-danger" onclick="deleteAppointment({{ appt.id }}, 'pickup')">Delete Appointment</button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td id="request" colspan="10">
                                    <button class="btn btn-primary darkblue" onclick="requestSub({{ appt.id }})">Request Substitute</button>
                                    {% if 'Administrator' in session['USER-ROLES'] %}
                                        <button style="margin-left: 10px" class="btn btn-primary btn-danger" onclick="deleteAppointment({{ appt.id }}, 'request')">Delete Appointment</button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endif %}
            </tbody>
        </table>
    </div>
</div>
<script>
    $(document).ready( function () {
        var table = $('#table').DataTable({
            "aoColumns": [
            ],
            searching: false,
            paging: false,
            pageLength: false,
        });
    });

    function deleteAppointment(appt_id, type) {
        $.ajax({
            type: "POST",
            url: "{{ url_for('SchedulesView:delete_appointment') }}",
            data: JSON.stringify({
                'appt_id': appt_id,
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (response) {

                if (response === 'sub') {
                    if (type === 'request') {
                        $('#request').html("<h3><b>Error cannot delete appointment since it is already scheduled. Instead request a tutor by clicking on the button.</b></h3><button style=\"margin-left: 10px\" class=\"btn btn-primary darkblue\" onclick=\"requestSub({{ appt.id }})\">Request Substitute</button>")
                    } else if (type === 'pickup') {
                        $('#pickup').html("<h3><b>Error cannot delete appointment since it is already scheduled. Instead request a tutor by clicking on the button.</b></h3><button style=\"margin-left: 10px\" class=\"btn btn-primary darkblue\" onclick=\"requestSub({{ appt.id }})\">Request Substitute</button>")
                    }
                } else {
                    let event = calendar.getEventById(response);
                    event.remove();
                    $('#results').html("")
                }
            },
            error: function (error) {
            }
        });
    }

    function subAppointment(appt_id) {
        $.ajax({
            type: "POST",
            url: "{{ url_for('SchedulesView:pickup_shift') }}",
            data: JSON.stringify({
                'appt_id': appt_id,
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (response) {
                $('#results').html(response)
            },
            error: function (error) {
            }
        });
    }

    function requestSub(appt_id) {
        $.ajax({
            type: "POST",
            url: "{{ url_for('SchedulesView:request_substitute') }}",
            data: JSON.stringify({
                'appt_id': appt_id
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (response) {
                $('#results').html(response)
            },
            error: function (error) {
            }
        });
    }
</script>