{% extends 'writing_center_base.html' %}

{% block body_content %}
    <div class="jumbotron">
        <h1>Create Schedule</h1>
        <p>This is where you create an available time slot for an appointment.</p>
    </div>
    <h3>Existing Schedules</h3>
    <table id="table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Active</th>
            </tr>
        </thead>
        <tbody id="t-body">
        {% for schedule in schedules %}
            <tr>
                <td>{{ schedule.timeStart|datetimeformat }}</td>
                <td>{{ schedule.timeEnd|datetimeformat }}</td>
                <td>{{ schedule.isActive }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>
    <h3>Add Schedule Time Slot</h3>
    <form>
        <div class="form-row">
            <div class="col-md-3">
                <div class="form-group">
                    <input class="form-control" id="start-time" type="time" placeholder="Start Time"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input class="form-control" id="end-time" type="time" placeholder="End Time"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" id="isActive">
                        <option id="active">Active</option>
                        <option id="inactive">Inactive</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <button id="add-schedule-ts" name="add-schedule" class="btn btn-primary" type="submit">Submit</button>
            </div>
        </div>
    </form>
    <br/>
    <h3>Assign Shifts to Tutors</h3>
    <form>
        <div class="form-row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="start-date">Start Date</label>
                    <input class="form-control datepicker" id="start-date" type="text" readonly/>
                    <div id="start-container"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="end-date">End Date</label>
                    <input class="form-control datepicker" id="end-date" type="text" readonly/>
                    <div id="end-container"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="multilingual">Multilingual Appointment</label>
                    <select class="form-control" id="multilingual">
                        <option id="m-yes" value="1">Yes</option>
                        <option id="m-no" value="0">No</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="drop-in">Drop-in Hours Appointment</label>
                    <select class="form-control" id="drop-in">
                        <option id="d-yes" value="1">Yes</option>
                        <option id="d-no" value="0">No</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="tutors">Select Tutors</label>
                    <select class="form-control" id="tutors">
                        {% for tutor in tutors %}
                            <option id="{{ tutor.id }}">{{ tutor.firstName }} {{ tutor.lastName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="days">Select Days</label>
                    <select class="form-control" id="days">
                    <option value="0">Monday</option>
                    <option value="1">Tuesday</option>
                    <option value="2">Wednesday</option>
                    <option value="3">Thursday</option>
                    <option value="4">Friday</option>
                    <option value="5">Saturday</option>
                    <option value="6">Sunday</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="times">Select Time Slots</label>
                    <select class="form-control" id="times">
                        {% for schedule in schedules %}
                            <option id="{{ schedule.id }}">{{ schedule.timeStart|datetimeformat }} - {{ schedule.timeEnd|datetimeformat }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <button id="add-shifts" name="submit-shifts" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <script>
        $(document).ready(function () {
            $('.datepicker').each(function () {
                var current_element = $(this);
                let maxDate = new Date();
                let dd = maxDate.getDate();
                let mm = maxDate.getMonth() + 1;
                let yyyy = maxDate.getFullYear() + 2;
                if (dd < 10) {
                  dd = '0' + dd;
                }

                if (mm < 10) {
                  mm = '0' + mm;
                }
                maxDate = yyyy + '-' + mm + '-' + dd;
                var starting_values = {
                    field: this,
                    format: 'MM DD YYYY',
                    minDate: new Date('2010-01-01'),
                    maxDate: new Date(maxDate),
                    yearRange: [2010, yyyy],
                    disableDayFn: function (date) {
                        var start_populated = $("#start-date").val();
                        var end_populated = $("#end-date").val();
                        if (start_populated == "" && end_populated == "") {
                            return null;
                        } else if (start_populated != "" && current_element.attr('id') == 'end-date') {
                            if (new Date(start_populated) >= date) {
                                return date;
                            }
                        } else if (end_populated != "" && current_element.attr('id') == 'start-date') {
                            if (new Date(end_populated) <= date) {
                                return date;
                            }
                        }
                    }
                };
                starting_values['defaultDate'] = new Date();
                starting_values['setDefaultDate'] = true;

                var picker = new Pikaday(starting_values);
            });
        });

        $('#add-schedule-ts').click(function () {
            let startTime = $('#start-time').val();
            let endTime = $('#end-time').val();
            let isActive = $('#isActive option:selected').text();
            $.ajax({
                type: "POST",
                url: "{{ url_for('SchedulesView:create_new_schedule') }}",
                async: false,
                data: JSON.stringify({
                    'startTime': startTime,
                    'endTime': endTime,
                    'isActive': isActive
                }),
                contentType: 'application/json;charset=UTF-8',
                success: function (response) {
                },
                error: function (error) {
                }
            });
        });

        $('#add-shifts').click(function () {
            let startDate = $('#start-date').val();
            let endDate = $('#end-date').val();
            let multilingual = $('#multilingual option:selected').val();
            let dropIn = $('#drop-in option:selected').val();
            let tutors = $('#tutors option:selected').text();
            let days = $('#days option:selected').val();
            let timeSlots = $('#times option:selected').text();
            $.ajax({
                type: "POST",
                url: "{{ url_for('SchedulesView:add_tutors_to_shifts') }}",
                async: false,
                data: JSON.stringify({
                    'startDate': startDate,
                    'endDate': endDate,
                    'multilingual': multilingual,
                    'dropIn': dropIn,
                    'tutors': tutors,
                    'days': days,
                    'timeSlots': timeSlots,
                }),
                contentType: 'application/json;charset=UTF-8',
                success: function (response) {
                },
                error: function (error) {
                }
            });
        });
    </script>
{% endblock %}