{% extends 'schedules/base.html' %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>Manage Tutor Schedules</b></h1>
        <p>Assign shifts to a Tutor or view a Tutor's schedule.</p>
    </div>

    <form>
        <h3>Assign Shifts to Tutors</h3>
        <div class="form-row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="start-date">Start Date</label>
                    <input class="form-control datepicker" id="start-date" type="text" readonly/>
                    <div id="start-container"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="end-date">End Date</label>
                    <input class="form-control datepicker" id="end-date" type="text" readonly/>
                    <div id="end-container"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="multilingual">Multilingual Appointment</label>
                    <select class="form-control" id="multilingual">
                        <option id="m-yes" value="1">Yes</option>
                        <option id="m-no" value="0">No</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="drop-in">Drop-in Hours Appointment</label>
                    <select class="form-control" id="drop-in">
                        <option id="d-yes" value="1">Yes</option>
                        <option id="d-no" value="0">No</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="tutors">Select Tutors</label>
                    <select class="form-control" id="tutors">
                        {% for tutor in tutors %}
                            <option id="{{ tutor.id }}">{{ tutor.firstName }} {{ tutor.lastName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="days">Select Days</label>
                    <select class="form-control" id="days">
                    <option value="0">Monday</option>
                    <option value="1">Tuesday</option>
                    <option value="2">Wednesday</option>
                    <option value="3">Thursday</option>
                    <option value="4">Friday</option>
                    <option value="5">Saturday</option>
                    <option value="6">Sunday</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="times">Select Time Slots</label>
                    <select class="form-control" id="times">
                        {% for schedule in schedules %}
                            <option id="{{ schedule.id }}">{{ schedule.timeStart|datetimeformat }} - {{ schedule.timeEnd|datetimeformat }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <button id="add-shifts" name="submit-shifts" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    <hr>
    <div class="form-row">
        <div class="form-group col-md-12">
            <h3>View Tutor Schedule</h3>
            <p>Click a tutor or multiple tutors to have their schedules display.</p>
            <p>If you assign shifts to a tutor, make sure you click the tutor's name here to see the new shifts.</p>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="lookup-tutor-username" style="display: block;"><b>Tutors</b></label>
            <select id="lookup-tutor-username" class="chosen-container" size="7" multiple="multiple">
                {% for tutor in tutors %}
                    <option id="{{ tutor.id }}">{{ tutor.firstName }} {{ tutor.lastName }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div id="calendar"></div>

    <script>
        $(document).ready(function () {
            $('.datepicker').each(function () {
                var current_element = $(this);
                let maxDate = new Date();
                let dd = maxDate.getDate();
                let mm = maxDate.getMonth() + 1;
                let yyyy = maxDate.getFullYear() + 2;
                if (dd < 10) {
                  dd = '0' + dd;
                }

                if (mm < 10) {
                  mm = '0' + mm;
                }
                maxDate = yyyy + '-' + mm + '-' + dd;
                var starting_values = {
                    field: this,
                    format: 'MM DD YYYY',
                    minDate: new Date('2010-01-01'),
                    maxDate: new Date(maxDate),
                    yearRange: [2010, yyyy],
                    disableDayFn: function (date) {
                        var start_populated = $("#start-date").val();
                        var end_populated = $("#end-date").val();
                        if (start_populated == "" && end_populated == "") {
                            return null;
                        } else if (start_populated != "" && current_element.attr('id') == 'end-date') {
                            if (new Date(start_populated) >= date) {
                                return date;
                            }
                        } else if (end_populated != "" && current_element.attr('id') == 'start-date') {
                            if (new Date(end_populated) <= date) {
                                return date;
                            }
                        }
                    }
                };
                starting_values['defaultDate'] = new Date();
                starting_values['setDefaultDate'] = true;

                var picker = new Pikaday(starting_values);
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: [ 'dayGrid' ]
            });

            calendar.render();
        });

        $('#add-shifts').click(function () {
            let startDate = $('#start-date').val();
            let endDate = $('#end-date').val();
            let multilingual = $('#multilingual option:selected').val();
            let dropIn = $('#drop-in option:selected').val();
            let tutors = $('#tutors option:selected').text();
            let days = $('#days option:selected').val();
            let timeSlots = $('#times option:selected').text();
            $.ajax({
                type: "POST",
                url: "{{ url_for('SchedulesView:add_tutors_to_shifts') }}",
                async: false,
                data: JSON.stringify({
                    'startDate': startDate,
                    'endDate': endDate,
                    'multilingual': multilingual,
                    'dropIn': dropIn,
                    'tutors': tutors,
                    'days': days,
                    'timeSlots': timeSlots,
                }),
                contentType: 'application/json;charset=UTF-8',
                success: function (response) {
                },
                error: function (error) {
                }
            });
        });
    </script>
{% endblock %}