{% extends 'schedules/base.html' %}

{% block page_title %}Manage Schedules{% endblock %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>Manage Tutor Schedules</b></h1>
        <p>Assign shifts to a Tutor or view a Tutor's schedule.</p>
    </div>

    <form>
        <h3>Assign Shifts to Tutors</h3>
        <div class="form-row">
            <div class="col-md-3">
                <div class="form-group">
                    <label for="start-date">Start Date</label>
                    <input class="form-control datepicker" id="start-date-shifts" value="{{ now }}" type="text" readonly/>
                    <div id="start-container"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="end-date">End Date</label>
                    <input class="form-control datepicker" id="end-date-shifts" type="text" readonly/>
                    <div id="end-container"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="multilingual">Multilingual Appointment</label>
                    <select class="form-control" id="multilingual">
                        <option id="m-yes" value="1">Yes</option>
                        <option id="m-no" value="0" selected="selected">No</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="drop-in">Drop-in Hours Appointment</label>
                    <select class="form-control" id="drop-in">
                        <option id="d-yes" value="1">Yes</option>
                        <option id="d-no" value="0" selected="selected">No</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="tutors-shifts">Select Tutors</label>
                    <select class="form-control" id="tutors-shifts" multiple="multiple" required="required">
                        <option id="select-all" class="select-hr" value="Select All Tutors">Select All Tutors</option>
                        {% for tutor in tutors %}
                            <option id="{{ tutor.id }}">{{ tutor.firstName }} {{ tutor.lastName }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="days">Select Days</label>
                    <select class="form-control" id="days" multiple="multiple" required="required">
                    <option value="0">Monday</option>
                    <option value="1">Tuesday</option>
                    <option value="2">Wednesday</option>
                    <option value="3">Thursday</option>
                    <option value="4">Friday</option>
                    <option value="5">Saturday</option>
                    <option value="6">Sunday</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="times">Select Time Slots</label>
                    <select class="form-control" id="times" multiple="multiple" required="required">
                        {% for schedule in schedules %}
                            <option id="{{ schedule.id }}">{{ schedule.startTime|datetimeformat }} - {{ schedule.endTime|datetimeformat }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="form-row">
            <button id="add-shifts" name="submit-shifts" type="submit" class="btn btn-primary darkblue">Submit</button>
        </div>
    </form>

    <hr>
    <div class="form-row">
        <div class="form-group col-md-12">
            <h3>Manage Tutor Schedule</h3>
            <p>Select a tutor or multiple tutors to have their schedules display.</p>
            <p>If you assign shifts to a tutor, make sure you click the tutor's name here to see the new shifts.</p>
            <p>Delete shifts by either clicking on a future appointment and hitting the delete button, or delete shifts within a given date range by using the "Delete Appointments" dropdown.</p>
        </div>
    </div>
    <div id="results"></div>
    <div class="row">
        <div class="col-lg-4">
            <div id="tutors">
                <h3>Tutors</h3>
                <select id="tutors-schedule" class="chosen-container" size="7" multiple="multiple" onchange="tutorsChanged()">
                    <option id="view-all" class="select-hr" value="View All">View All Schedules</option>
                    {% for tutor in tutors %}
                        <option id="{{ tutor.id }}" value="{{ tutor.id }}">{{ tutor.firstName }} {{ tutor.lastName }}</option>
                    {% endfor %}
                </select>
                <hr>
            </div>
            <h4>Delete Appointments in Date Range</h4>
            <p>
                <button class="btn btn-primary darkblue collapsible" type="button" data-toggle="collapse" data-target="#collapsible-delete" aria-expanded="false" aria-controls="collapsible-delete">
                    Delete Appointments
                </button>
            </p>
            <div class="collapse" id="collapsible-delete">
                <div class="delete-card card card-body">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="start-date">Start Date</label>
                                <input class="form-control datepicker" id="start-date-delete" type="text" readonly/>
                                <div id="start-container"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="end-date">End Date</label>
                                <input class="form-control datepicker" id="end-date-delete" type="text" readonly/>
                                <div id="end-container"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <select id="tutors-delete" class="chosen-container" size="7" multiple="multiple">
                                    <option id="view-all" class="select-hr" value="View All" selected="selected">Select All Tutors</option>
                                    {% for tutor in tutors %}
                                        <option id="{{ tutor.id }}" value="{{ tutor.id }}">{{ tutor.firstName }} {{ tutor.lastName }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div id="delete-confirm" class="form-row">
                            <input type="button" id="delete-shifts" class="btn btn-primary btn-danger" value="Delete Shifts" onclick="confirmDelete()">
                        </div>
                    </div>

                </div>
            </div>
            <hr>
            <h3>Calendar Key</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Color</th>
                        <th>Meaning</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="calendar-blue">Blue</td>
                        <td>General Appointment</td>
                    </tr>
                    <tr>
                        <td class="calendar-orange">Orange</td>
                        <td>Open Multilingual Appointment</td>
                    </tr>
                    <tr>
                        <td class="calendar-green">Green</td>
                        <td>Drop-in Hours</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <button id="view-type" value="view-sub" class="btn btn-primary darkblue" onclick="viewEvents()">View Open Appointments</button>
        </div>
        {# spinner placeholder #}
        <div id="spinner" class="spinner" style="display: none;margin-top: -300px;">
            <img id="img-spinner" class="spinner-img" src="https://cdn1.bethel.edu/images/load.gif" alt="Loading"/>
        </div>
        <div class="col-lg-8">
            <div id="calendar"></div>
            <br>
            <div id="sub-list-results"></div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.datepicker').each(function () {
                let current_element = $(this);
                let maxDate = new Date();
                let dd = maxDate.getDate();
                let mm = maxDate.getMonth() + 1;
                let yyyy = maxDate.getFullYear() + 2;
                if (dd < 10) {
                  dd = '0' + dd;
                }

                if (mm < 10) {
                  mm = '0' + mm;
                }
                maxDate = yyyy + '-' + mm + '-' + dd;
                let starting_values = {};
                if (this.id === "start-date-shifts" || this.id === "end-date-shifts") {
                    starting_values = {
                        field: this,
                        format: 'MM DD YYYY',
                        minDate: new Date('2010-01-01'),
                        maxDate: new Date(maxDate),

                        yearRange: [2010, yyyy],
                        disableDayFn: function (date) {
                            let yesterday = new Date();
                            yesterday.setDate(yesterday.getDate() - 1);
                            let start_populated = $("#start-date-shifts").val();
                            let end_populated = $("#end-date-shifts").val();
                            if (start_populated != "" && current_element.attr('id') == 'end-date-shifts') {
                                if (new Date(start_populated) >= date) {
                                    return date;
                                }
                            } else if (end_populated != "" && current_element.attr('id') == 'start-date-shifts') {
                                if (yesterday > date) {
                                    return date;
                                }
                            } else if (current_element.attr('id') == 'start-date-shifts') {
                                if (yesterday > date) {
                                    return date;
                                }
                            } else if (current_element.attr('id') == 'end-date-shifts') {
                                if (yesterday > date) {
                                    return date;
                                }
                            }
                        }
                    };
                } else {
                    starting_values = {
                        field: this,
                        format: 'MM DD YYYY',
                        minDate: new Date('2010-01-01'),
                        maxDate: new Date(maxDate),
                        yearRange: [2010, yyyy],
                        disableDayFn: function (date) {
                            let yesterday = new Date();
                            yesterday.setDate(yesterday.getDate() - 1);
                            let start_populated = $("#start-date-delete").val();
                            if (start_populated == "") {
                                return null;
                            } else if (current_element.attr('id') == 'start-date-delete') {
                                if (yesterday > date) {
                                    return date;
                                }
                            } else if (current_element.attr('id') == 'end-date-delete') {
                                if (yesterday > date) {
                                    return date;
                                }
                            }
                        }
                    };
                    let timeSetting = ({{ time_setting }});
                    starting_values['defaultDate'] = new Date(new Date().getTime() + timeSetting * 60 * 60 * 1000);
                    starting_values['setDefaultDate'] = true;
                }
                let picker = new Pikaday(starting_values);
            });
        });

        let calendarEl = document.getElementById('calendar');

        let calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid', 'timeGrid'],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            slotEventOverlap: false,
            nowIndicator: true,
            displayEventEnd: true,
            timeZone: 'UTC',
            eventClick: function(info) {
                $.ajax({
                        type: "POST",
                        url: "{{ url_for('AppointmentsView:test_load_appt_data') }}",
                        data: JSON.stringify({
                            'id': info.event.id,
                            'subDelete': true
                        }),
                        contentType: 'application/json;charset=UTF-8',
                        success: function (response) {
                            $('#results').html(response);
                            $('#info-modal').modal('show');
                        },
                        error: function (error) {
                        }
                });
            }
        });

        calendar.render();

        $('#add-shifts').click(function () {
            let startDate = $('#start-date-shifts').val();
            let endDate = $('#end-date-shifts').val();
            let multilingual = $('#multilingual option:selected').val();
            let dropIn = $('#drop-in option:selected').val();
            let tutors = [];
            $("#tutors-shifts option:selected").each(function() {
                tutors.push(this.id);
            });
            let days = [];
            $('#days option:selected').each(function() {
                days.push(this.value);
            });

            let timeSlots = [];
            $('#times option:selected').each(function() {
               timeSlots.push(this.text)
            });
            $.ajax({
                type: "POST",
                url: "{{ url_for('SchedulesView:add_tutors_to_shifts') }}",
                async: false,
                data: JSON.stringify({
                    'startDate': startDate,
                    'endDate': endDate,
                    'multilingual': multilingual,
                    'dropIn': dropIn,
                    'tutors': tutors,
                    'days': days,
                    'timeSlots': timeSlots,
                }),
                contentType: 'application/json;charset=UTF-8',
                success: function (response) {
                    window.location.reload()
                },
                error: function (error) {
                }
            });
        });

        function tutorsChanged() {
            $('#spinner').show();
            let tutors = [];
            $("#tutors-schedule option:selected").each(function() {
                tutors.push(this.id);
            });
            $.ajax({
                type: "POST",
                url: "{{ url_for('SchedulesView:show_tutor_schedule') }}",
                data: JSON.stringify({
                    'tutors': tutors,
                }),
                contentType: 'application/json;charset=UTF-8',
                success: function (response) {
                    calendar.removeAllEvents();
                    calendar.batchRendering(function() {
                        for (let i = 0; i < response.length; i ++) {
                            if (response[i].multilingual === 1) {
                                calendar.addEvent({
                                    id: response[i].id,
                                    title: response[i].tutorUsername,
                                    start: response[i].startTime,
                                    end: response[i].endTime,
                                    color: 'orange'
                                });
                            } else if (response[i].dropIn === 1) {
                                calendar.addEvent({
                                    id: response[i].id,
                                    title: response[i].tutorUsername,
                                    start: response[i].startTime,
                                    end: response[i].endTime,
                                    color: 'green'
                                });
                            } else {
                                calendar.addEvent({
                                    id: response[i].id,
                                    title: response[i].tutorUsername,
                                    start: response[i].startTime,
                                    end: response[i].endTime,
                                    color: '#4169E1'
                                });
                            }
                        }
                    });
                    $('#spinner').hide();
                },
                error: function (error) {

                }
            });
        }

        function viewEvents() {
            let button = $('#view-type');
            $('#results').html('');
            if (button.val() === 'view-sub') {
                $.ajax({
                    type: "GET",
                    url: "{{ url_for('SchedulesView:get_sub_appointments') }}",
                    success: function (response) {
                        calendar.removeAllEvents();
                        if (response != null) {
                            calendar.batchRendering(function() {
                                for (let i = 0; i < response.length; i ++) {
                                    if (response[i].multilingual === 1) {
                                        calendar.addEvent({
                                            id: response[i].id,
                                            title: response[i].tutorUsername,
                                            start: response[i].startTime,
                                            end: response[i].endTime,
                                            color: 'orange'
                                        });
                                    } else if (response[i].dropIn === 1) {
                                        calendar.addEvent({
                                            id: response[i].id,
                                            title: response[i].tutorUsername,
                                            start: response[i].startTime,
                                            end: response[i].endTime,
                                            color: 'green'
                                        });
                                    } else {
                                        calendar.addEvent({
                                            id: response[i].id,
                                            title: response[i].tutorUsername,
                                            start: response[i].startTime,
                                            end: response[i].endTime,
                                            color: '#4169E1'
                                        });
                                    }
                                }
                            });
                        }
                    },
                    error: function (error) {
                    }
                });
                button.text('View Your Appointments');
                button.val('view-your');
            } else if (button.val() === 'view-your') {
                $.ajax({
                    type: "GET",
                    url: "{{ url_for('SchedulesView:get_users_appointments') }}",
                    success: function (response) {
                        calendar.removeAllEvents();
                        if (response != null) {
                            calendar.batchRendering(function() {
                                for (let i = 0; i < response.length; i ++) {
                                    if (response[i].multilingual === 1) {
                                        calendar.addEvent({
                                            id: response[i].id,
                                            title: response[i].tutorUsername,
                                            start: response[i].startTime,
                                            end: response[i].endTime,
                                            color: 'orange'
                                        });
                                    } else if (response[i].dropIn === 1) {
                                        calendar.addEvent({
                                            id: response[i].id,
                                            title: response[i].tutorUsername,
                                            start: response[i].startTime,
                                            end: response[i].endTime,
                                            color: 'green'
                                        });
                                    } else {
                                        calendar.addEvent({
                                            id: response[i].id,
                                            title: response[i].tutorUsername,
                                            start: response[i].startTime,
                                            end: response[i].endTime,
                                            color: '#4169E1'
                                        });
                                    }
                                }
                            });
                        }
                    },
                    error: function (error) {
                    }
                });
                button.text('View Open Appointments');
                button.val('view-sub');
            }
        }

        function confirmDelete() {
            let startDate = $('#start-date-delete').val();
            let endDate = $('#end-date-delete').val();
            let tutors = [];
            $("#tutors-delete option:selected").each(function() {
                tutors.push(this.id);
            });
            $.ajax({
                type: "POST",
                url: "{{ url_for('SchedulesView:confirm_delete') }}",
                data: JSON.stringify({
                    'tutors': tutors,
                    'startDate': startDate,
                    'endDate': endDate
                }),
                contentType: 'application/json;charset=UTF-8',
                success: function (data) {
                    $('#delete-confirm').html(data)
                },
                error: function (error) {

                }
            });
        }

        function confirmedNo() {
            $('#delete-confirm').html("<input type=\"button\" id=\"delete-shifts\" class=\"btn btn-primary btn-danger\" value=\"Delete Shifts\" onclick=\"confirmDelete()\">")
            $('#sub-list-results').html("")
        }

        function deleteShifts() {
            let startDate = $('#start-date-delete').val();
            let endDate = $('#end-date-delete').val();
            let tutors = [];
            $("#tutors-delete option:selected").each(function() {
                tutors.push(this.id);
            });
             $.ajax({
                type: "POST",
                url: "{{ url_for('SchedulesView:delete_tutors_from_shifts') }}",
                data: JSON.stringify({
                    'tutors': tutors,
                    'startDate': startDate,
                    'endDate': endDate
                }),
                contentType: 'application/json;charset=UTF-8',
                success: function (data) {
                    calendar.removeAllEvents();
                    $('#tutors-schedule option:selected').prop("selected", false);
                    $('#delete-confirm').html("<input type=\"button\" id=\"delete-shifts\" class=\"btn btn-primary btn-danger\" value=\"Delete Shifts\" onclick=\"confirmDelete()\">")
                    $('#sub-list-results').html(data)
                },
                error: function (error) {
                }
            });
        }
    </script>
{% endblock %}