{% extends 'schedules/base.html' %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>View Tutor Schedule</b></h1>
        <p>Displays the appointments a tutor is assigned to.</p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>Tutors</h3>
            <select id="tutors-schedule" class="chosen-container" size="7" multiple="multiple" onchange="tutorsChanged()">
                {% for tutor in tutors %}
                    <option id="{{ tutor.id }}" value="{{ tutor.id }}">{{ tutor.firstName }} {{ tutor.lastName }}</option>
                {% endfor %}
            </select>
            <hr>
            <br/>
            <h3>Calendar Key</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Color</th>
                        <th>Meaning</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="calendar-blue">Blue</td>
                        <td>Open Appointment</td>
                    </tr>
                    <tr>
                        <td class="calendar-orange">Orange</td>
                        <td>Multilingual Appointment</td>
                    </tr>
                    <tr>
                        <td class="calendar-green">Green</td>
                        <td>Drop-in Hours</td>
                    </tr>
                    <tr>
                        <td class="calendar-yellow">Yellow</td>
                        <td>Current Date</td>
                    </tr>
                </tbody>
            </table>
        </div>
        {# spinner placeholder #}
        <div id="spinner" class="spinner" style="display: none;margin-top: -300px;">
            <img id="img-spinner" class="spinner-img" src="https://cdn1.bethel.edu/images/load.gif" alt="Loading"/>
        </div>
        <div class="col-md-9">
            <div id="calendar"></div>
        </div>
    </div>
    <script>

        let calendarEl = document.getElementById('calendar');

        let calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid', 'timeGrid'],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            slotEventOverlap: false,
            nowIndicator: true,
            displayEventEnd: true,
        });

        calendar.render();

        function tutorsChanged() {
            $('#spinner').show();
            let tutors = $("#tutors-schedule option:selected").map(function(){ return this.text }).get().join(", ");
            $.ajax({
                type: "POST",
                url: "{{ url_for('SchedulesView:show_tutor_schedule') }}",
                data: JSON.stringify({
                    'tutors': tutors,
                }),
                contentType: 'application/json;charset=UTF-8',
                success: function (response) {
                    calendar.removeAllEvents();
                    let i = 0;
                    for (i; i < response.length; i ++) {
                        calendar.addEvent({
                            title: response[i].tutor_id,
                            start: response[i].startTime,
                            end: response[i].endTime
                        });
                    }
                    $('#spinner').hide();
                },
                error: function (error) {

                }
            });
        }
    </script>
{% endblock %}