{% extends 'schedules/base.html' %}

{% block page_title %}View Schedule{% endblock %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>View Tutor Schedule</b></h1>
        <p>Displays the appointments a tutor is assigned to.</p>
    </div>
    {{ gcal_macros.add_events_to_calendar("Add All Upcoming Shifts To Google Calendar") }}
    <div id="results"></div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            {% if 'Administrator' in session['USER-ROLES'] %}
                <div id="tutors">
                    <h3>Tutors</h3>
                    <select id="tutors-schedule" class="chosen-container" size="7" multiple="multiple" onchange="tutorsChanged()">
                        <option id="view-all" class="select-hr" value="View All" selected>View All Schedules</option>
                        {% for tutor in tutors %}
                            <option id="{{ tutor.id }}" value="{{ tutor.id }}">{{ tutor.firstName }} {{ tutor.lastName }}</option>
                        {% endfor %}
                    </select>
                    <hr>
                </div>
            {% endif %}
            <h3>Calendar Key</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Color</th>
                        <th>Meaning</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="calendar-blue">Blue</td>
                        <td>General Appointment</td>
                    </tr>
                    <tr>
                        <td class="calendar-orange">Orange</td>
                        <td>Multilingual Appointment</td>
                    </tr>
                    <tr>
                        <td class="calendar-green">Green</td>
                        <td>Drop-in Hours</td>
                    </tr>
                    <tr>
                        <td class="calendar-red">Red</td>
                        <td>Sub Requested</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <button id="view-type" value="view-sub" class="btn btn-primary darkblue" onclick="viewEvents()">View Open Appointments</button>
        </div>
        {# spinner placeholder #}
        <div id="spinner" class="spinner" style="display: none;margin-top: -300px;">
            <img id="img-spinner" class="spinner-img" src="https://cdn1.bethel.edu/images/load.gif" alt="Loading"/>
        </div>
        <div class="col-md-9">
            <div id="calendar"></div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "{{ url_for('SchedulesView:get_users_appointments') }}",
                success: function (response) {
                    if (response != null) {
                        calendar.batchRendering(function() {
                            for (let i = 0; i < response.length; i ++) {
                                if (response[i].sub === 1){
                                    calendar.addEvent({
                                        id: response[i].id,
                                        title: response[i].tutorName,
                                        start: response[i].startTime,
                                        end: response[i].endTime,
                                        color: '#f58181'
                                    });
                                } else if (response[i].multilingual === 1) {
                                    calendar.addEvent({
                                        id: response[i].id,
                                        title: response[i].tutorName,
                                        start: response[i].startTime,
                                        end: response[i].endTime,
                                        color: '#f5c773'
                                    });
                                } else if (response[i].dropIn === 1) {
                                    calendar.addEvent({
                                        id: response[i].id,
                                        title: response[i].tutorName,
                                        start: response[i].startTime,
                                        end: response[i].endTime,
                                        color: '#9ee98d'
                                    });
                                } else {
                                    calendar.addEvent({
                                        id: response[i].id,
                                        title: response[i].tutorName,
                                        start: response[i].startTime,
                                        end: response[i].endTime,
                                        color: '#9cb3f7'
                                    });
                                }
                            }
                        });
                    }
                },
                error: function (error) {
                }
            });

        });

        let calendarEl = document.getElementById('calendar');

        let calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: ['interaction', 'dayGrid', 'timeGrid'],
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            slotEventOverlap: false,
            nowIndicator: true,
            displayEventEnd: true,
            timeZone: 'UTC',
            eventClick: function(info) {
                $.ajax({
                        type: "POST",
                        url: "{{ url_for('AppointmentsView:load_appointment_data') }}",
                        data: JSON.stringify({
                            'id': info.event.id,
                            'subDelete': true,
                            'gcalAdd': 'tutor',
                        }),
                        contentType: 'application/json;charset=UTF-8',
                        success: function (response) {
                            $('#results').html(response);
                            $('#info-modal').modal('show');
                        },
                        error: function (error) {
                        }
                    });
            }
        });

        calendar.render();

        function tutorsChanged() {
            $('#spinner').show();
            let tutors = [];
            $("#tutors-schedule option:selected").each(function() {
                tutors.push(this.id);
            });
            $.ajax({
                type: "POST",
                url: "{{ url_for('SchedulesView:show_tutor_schedule') }}",
                data: JSON.stringify({
                    'tutors': tutors,
                }),
                contentType: 'application/json;charset=UTF-8',
                success: function (response) {
                    calendar.removeAllEvents();
                    calendar.batchRendering(function() {
                        for (let i = 0; i < response.length; i ++) {
                            if (response[i].sub === 1){
                                calendar.addEvent({
                                    id: response[i].id,
                                    title: response[i].tutorName,
                                    start: response[i].startTime,
                                    end: response[i].endTime,
                                    color: '#f58181'
                                });
                            } else if (response[i].multilingual === 1) {
                                calendar.addEvent({
                                    id: response[i].id,
                                    title: response[i].tutorName,
                                    start: response[i].startTime,
                                    end: response[i].endTime,
                                    color: '#f5c773'
                                });
                            } else if (response[i].dropIn === 1) {
                                calendar.addEvent({
                                    id: response[i].id,
                                    title: response[i].tutorName,
                                    start: response[i].startTime,
                                    end: response[i].endTime,
                                    color: '#9ee98d'
                                });
                            } else {
                                calendar.addEvent({
                                    id: response[i].id,
                                    title: response[i].tutorName,
                                    start: response[i].startTime,
                                    end: response[i].endTime,
                                    color: '#9cb3f7'
                                });
                            }
                        }
                    });
                    $('#spinner').hide();
                },
                error: function (error) {

                }
            });
        }

        function viewEvents() {
            let button = $('#view-type');
            if (button.val() === 'view-sub') {
                $.ajax({
                    type: "GET",
                    url: "{{ url_for('SchedulesView:get_sub_appointments') }}",
                    success: function (response) {
                        calendar.removeAllEvents();
                        if (response != null) {
                            calendar.batchRendering(function() {
                                for (let i = 0; i < response.length; i ++) {
                                    if (response[i].sub === 1){
                                        calendar.addEvent({
                                            id: response[i].id,
                                            title: response[i].tutorName,
                                            start: response[i].startTime,
                                            end: response[i].endTime,
                                            color: '#f58181'
                                        });
                                    } else if (response[i].multilingual === 1) {
                                        calendar.addEvent({
                                            id: response[i].id,
                                            title: response[i].tutorName,
                                            start: response[i].startTime,
                                            end: response[i].endTime,
                                            color: '#f5c773'
                                        });
                                    } else if (response[i].dropIn === 1) {
                                        calendar.addEvent({
                                            id: response[i].id,
                                            title: response[i].tutorName,
                                            start: response[i].startTime,
                                            end: response[i].endTime,
                                            color: '#9ee98d'
                                        });
                                    } else {
                                        calendar.addEvent({
                                            id: response[i].id,
                                            title: response[i].tutorName,
                                            start: response[i].startTime,
                                            end: response[i].endTime,
                                            color: '#9cb3f7'
                                        });
                                    }
                                }
                            });
                        }
                    },
                    error: function (error) {
                    }
                });
                button.text('View Your Appointments');
                button.val('view-your');
            } else if (button.val() === 'view-your') {
                $.ajax({
                    type: "GET",
                    url: "{{ url_for('SchedulesView:get_users_appointments') }}",
                    success: function (response) {
                        calendar.removeAllEvents();
                        if (response != null) {
                            calendar.batchRendering(function() {
                                for (let i = 0; i < response.length; i ++) {
                                    if (response[i].sub === 1){
                                        calendar.addEvent({
                                            id: response[i].id,
                                            title: response[i].tutorName,
                                            start: response[i].startTime,
                                            end: response[i].endTime,
                                            color: '#f58181'
                                        });
                                    } else if (response[i].multilingual === 1) {
                                        calendar.addEvent({
                                            id: response[i].id,
                                            title: response[i].tutorName,
                                            start: response[i].startTime,
                                            end: response[i].endTime,
                                            color: '#f5c773'
                                        });
                                    } else if (response[i].dropIn === 1) {
                                        calendar.addEvent({
                                            id: response[i].id,
                                            title: response[i].tutorName,
                                            start: response[i].startTime,
                                            end: response[i].endTime,
                                            color: '#9ee98d'
                                        });
                                    } else {
                                        calendar.addEvent({
                                            id: response[i].id,
                                            title: response[i].tutorName,
                                            start: response[i].startTime,
                                            end: response[i].endTime,
                                            color: '#9cb3f7'
                                        });
                                    }
                                }
                            });
                        }
                    },
                    error: function (error) {
                    }
                });
                button.text('View Open Appointments');
                button.val('view-sub');
            }
        }

        {% if 'Administrator' in session['USER-ROLES'] %}
            // Need to wait just a little otherwise db gets overwhelmed with calls
            $(document).ready(function(){

                setTimeout(function(){
                    tutorsChanged();
                }, 250);
            });
        {% endif %}
    </script>
{% endblock %}