{% if appointments %}
    <div id="modal-results"></div>
    <table id="table" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Student</th>
                <th>Tutor</th>
                <th class="one-line">Scheduled Start</th>
                <th class="one-line">Scheduled End</th>
                <th>Professor</th>
                <th>Multilingual</th>
                <th>Course</th>
                <th class="one-line">No Show</th>
                <th>Info</th>
            </tr>
        </thead>
        <tbody>
            {% for appt, info in appts_and_info.items() %}
                <tr>
                    <td class="one-line">
                        {% if info['student'] %}
                            {{ info['student'].firstName }} {{ info['student'].lastName }}
                        {% else %}
                            None
                        {% endif %}
                    </td>
                    <td class="one-line">{{ info['tutor'].firstName }} {{ info['tutor'].lastName }}</td>
                    <td class="one-line">{{ appt.scheduledStart.strftime("%m/%d/%y %I:%M %p") if appt.scheduledStart else '' }}</td>
                    <td class="one-line">{{ appt.scheduledEnd.strftime("%m/%d/%y %I:%M %p") if appt.scheduledEnd else '' }}</td>
                    {% if not appt.scheduledStart and appt.actualStart %}
                        <td class="one-line">{{ appt.actualStart.strftime("%m/%d/%y %I:%M %p") }}</td>
                    {% endif %}
                    {% if not appt.scheduledEnd and appt.actualEnd %}
                        <td class="one-line">{{ appt.actualEnd.strftime("%m/%d/%y %I:%M %p") }}</td>
                    {% endif %}

                    <td class="one-line">{{ appt.profName }}</td>
                    <td>{{ 'Yes' if appt.multilingual else 'No' }}</td>
                    <td>{{ appt.courseCode }}</td>
                    <td>{{ 'Yes' if appt.noShow else 'No' }}</td>
                    <td><input type="button" class="btn btn-primary darkblue" value="Info" onclick="viewInfo({{ appt.id }})"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready(function(){

            var table = $('#table').DataTable({
                searching: false,
                paging: false,
                ordering: false,
                pageLength: false,
            });

        });
    </script>
{% else %}
    <p>No appointments match the current search criteria.</p>
{% endif %}

<script>
    function viewInfo(appt_id) {
        $.ajax({
            type: "POST",
            url: "{{ url_for('AppointmentsView:load_appointment_data') }}",
            data: JSON.stringify({
                'id': appt_id,
            }),
            contentType: 'application/json;charset=UTF-8',
            success: function (response) {
                $('#modal-results').html(response);
                $('#info-modal').modal('show');
            },
            error: function (error) {
            }
        });
    }
</script>