{% if invalid_username %}
{% else %}
    <div class="form-row">
        <h3><b>Please enter the reason for your appointment.</b></h3>
    </div>
    <form>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <input id="username" type="hidden" value="{{ username }}" name="username">
                    <label for="course">Course/Reason:</label>
                    <select class="form-control" id="courses" name="course">
                        <option value="" class="select-hr" selected>No Specific Course</option>
                        {% for course in courses %}
                            <option value="{{ courses[course]['crn'] }}">{{ courses[course]['subject'] }}{{ courses[course]['cNumber'] }} {{ courses[course]['title'] }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="assignment">Assignment:</label>
                    <textarea id="assignment" name="assignment" class="form-control" maxlength="255" onkeyup="countChar(this);"></textarea>
                    <p><span id="assignmentCount">0</span> / 255</p>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Multilingual:</label>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="multi" id="multi-yes" value="1">
                        <label class="form-check-label" for="multi-yes">Yes</label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="multi" id="multi-no" value="0" checked>
                        <label class="form-check-label" for="multi-no">No</label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>PSEO:</label>
                    <div class="form-check">
                        {% if pseo %}
                            <input class="form-check-input" type="radio" name="pseo" id="pseo-yes" value="1" checked disabled>
                        {% else %}
                            <input class="form-check-input" type="radio" name="pseo" id="pseo-yes" value="1" disabled>
                        {% endif %}
                        <label class="form-check-label" for="pseo-yes">Yes</label>
                    </div>
                    <div class="form-check">
                        {% if not pseo %}
                            <input class="form-check-input" type="radio" name="pseo" id="pseo-no" value="0" checked disabled>
                        {% else %}
                            <input class="form-check-input" type="radio" name="pseo" id="pseo-no" value="0" disabled>
                        {% endif %}
                        <label class="form-check-label" for="pseo-no">No</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-3">
                <button id="start-walk-in" type="button" class="btn btn-primary btn-success">Start Appointment</button>
            </div>
        </div>
    </form>

    <script type="text/javascript">
        function countChar(val) {
            var len = val.value.length;
            $('#' + val.id + 'Count').text(len);
        };

        $('#start-walk-in').click(function() {

            let input_data = {
                'username': $('#username').val(),
                'course': $("#courses option:selected").val(),
                'assignment': $('#assignment').val(),
                'multi': $('input[name="multi"]:checked').val(),
                'pseo': $('input[name="pseo"]:checked').val()
            };

            $.post("{{ url_for('AppointmentsView:begin_walk_in') }}", input_data, function (response) {
                window.location = response;
            });
        });

    </script>
{% endif %}