{% extends 'writing_center_base.html' %}

{% block body_content %}
    <div class="jumbotron">
        <h1>Schedule an Appointment</h1>
        <p>You can make a one-on-one appointment here or view the drop-in hours.</p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h3>Calendar Key</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Color</th>
                        <th>Meaning</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="calendar-blue">Blue</td>
                        <td>Open Appointment</td>
                    </tr>
                    <tr>
                        <td class="calendar-orange">Orange</td>
                        <td>Multilingual Appointment</td>
                    </tr>
                    <tr>
                        <td class="calendar-green">Green</td>
                        <td>Drop-in Hours</td>
                    </tr>
                    <tr>
                        <td class="calendar-yellow">Yellow</td>
                        <td>Current Date</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-9">
            <div id="calendar"></div>
        </div>
    </div>
    <script type="text/javascript">
    $(document).ready(function() {
            $.ajax({
                type: "GET",
                url: "{{ url_for('AppointmentsView:get_open_appointments') }}",
                success: function (response) {
                    if (response != null) {
                        let i = 0;
                        for (i; i < response.length; i ++) {
                            calendar.addEvent({
                                title: response[i].studentUsername,
                                start: response[i].startTime,
                                end: response[i].endTime
                            });
                        }
                    }

                },
                error: function (error) {
                }
            });
            let calendarEl = document.getElementById('calendar');

            let calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid'],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                slotEventOverlap: false,
                nowIndicator: true,
            });

            calendar.render();
        });
    </script>
{% endblock %}