{% extends 'writing_center_base.html' %}

{% block page_title %}Appointment Complete{% endblock %}

{% block body_content %}
    <div style="margin-bottom: 25px !important;" class="form-row">
        <div class="col-md-12">
            <h3><b>Appointment Complete!</b></h3>
        </div>
    </div>
    <div style="margin-bottom: 25px !important;" class="form-row">
        <div class="col-md-12">
            <h5>Please <a target="_blank" href="{{ qualtrics_link }}">click here</a> to fill out a quick survey.</h5>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-12">
            <a href="{{ url_for('AppointmentsView:appointments_and_walk_ins') }}" id="finish" class="btn btn-primary darkblue">Finish</a>
        </div>
    </div>
{% endblock %}