{% extends 'writing_center_base.html' %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>Schedule an Appointment</b></h1>
        <p>You can make a one-on-one appointment here or view the drop-in hours.</p>
    </div>
    {# spinner placeholder #}
    <div id="spinner" class="spinner" style="display: none;margin-top: -300px;">
        <img id="img-spinner" class="spinner-img" src="https://cdn1.bethel.edu/images/load.gif" alt="Loading"/>
    </div>
    <div id="results"></div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <h3>Calendar Key</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Color</th>
                        <th>Meaning</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="calendar-blue">Blue</td>
                        <td>Open Appointment</td>
                    </tr>
                    <tr>
                        <td class="calendar-orange">Orange</td>
                        <td>Open Multilingual Appointment</td>
                    </tr>
                    <tr>
                        <td class="calendar-green">Green</td>
                        <td>Drop-in Hours</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-9">
            <div id="calendar"></div>
        </div>
    </div>
    {% include 'macros/appointment_modal.html' %}

    <script type="text/javascript">
        $(document).ready(function() {
            function GetCalendarDateRange(cal) {
                $('#spinner').show();
                let view = cal.view;
                let start = view.activeStart;
                let end = view.activeEnd;
                let dates = { start: start, end: end };
                calendar.removeAllEvents();
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('AppointmentsView:load_appointments') }}",
                    data: JSON.stringify({
                        'dates': dates,
                        'scheduleAppt': true
                    }),
                    contentType: 'application/json;charset=UTF-8',
                    success: function (response) {
                        calendar.batchRendering(function() {
                            for (let i = 0; i < response.length; i ++) {
                                if (response[i].multilingual === 1) {
                                    calendar.addEvent({
                                        id: response[i].id,
                                        title: response[i].tutorUsername,
                                        start: response[i].startTime,
                                        end: response[i].endTime,
                                        color: 'orange'
                                    });
                                } else if (response[i].dropIn === 1) {
                                    calendar.addEvent({
                                        id: response[i].id,
                                        title: response[i].tutorUsername,
                                        start: response[i].startTime,
                                        end: response[i].endTime,
                                        color: 'green'
                                    });
                                } else {
                                    calendar.addEvent({
                                        id: response[i].id,
                                        title: response[i].tutorUsername,
                                        start: response[i].startTime,
                                        end: response[i].endTime,
                                        color: '#4169E1'
                                    });
                                }
                            }
                        });
                        $('#spinner').hide();
                    },
                    error: function (error) {
                        $('#spinner').hide();
                    }
                });
            }

            let calendarEl = document.getElementById('calendar');

            let calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid'],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                datesRender: function(cal) {
                    GetCalendarDateRange(cal)
                },
                slotEventOverlap: false,
                nowIndicator: true,
                displayEventEnd: true,
                timeZone: 'UTC',
                eventClick: function(info) {
                    getAppointmentData(info.event.id, true);
                }
            });

            calendar.render();
        });
    </script>
{% endblock %}