{% extends 'writing_center_base.html' %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>Scheduled Appointments</b></h1>
        <p>Please remember to click 'Start' when you arrive.</p>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <h3>Scheduled appointments:</h3>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-2">
            <b>Student</b>
        </div>
        <div class="col-md-2">
            <b>Date</b>
        </div>
        <div class="col-md-1">
            <b>Start Time</b>
        </div>
        <div class="col-md-1">
            <b>End Time</b>
        </div>
        <div class="col-md-2">
            <b>Start Appointment</b>
        </div>
        <div class="col-md-2">
            <b>Continue Appointment</b>
        </div>
        <div class="col-md-2">
            <b>Mark as No Show</b>
        </div>
    </div>
    You current do no have any scheduled appointments

{% endblock %}