{% extends 'writing_center_base.html' %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>Search Appointments</b></h1>
        <p>Search for various completed appointments. You can also search appointments where the student did not show
            up.</p>
        <p>First and last name searches allow for finding usernames.</p>
        <p>Clicking on the appointments expands them.</p>
    </div>

    <form id="search-form">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="student-select">Select a Student:</label>
                <select id="student-select" class="search" multiple>
                    {% for student in students %}
                        <option value="{{ student.id }}">{{ student.firstName }} {{ student.lastName }} | {{ student.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="tutor-select">Select a Tutor:</label>
                <select id="tutor-select" class="search" multiple>
                    {% for tutor in tutors %}
                        <option value="{{ tutor.id }}">{{ tutor.firstName }} {{ tutor.lastName }} | {{ tutor.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="prof-select">Select a Professor:</label>
                <select id="prof-select" class="search" multiple>
                    {% for prof in profs %}
                        <option value="{{ prof }}">{{ prof }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="startdate">Click Start Date:</label>
                <input type="datetime" id="startdate" class="search date hasDatepicker chosen-container"
                       placeholder="Choose a Starting Date..." readonly>
            </div>
            <div class="form-group col-md-4">
                <label for="enddate">Click End Date:</label>
                <input type="datetime" id="enddate" class="search date hasDatepicker chosen-container"
                       placeholder="Choose an Ending Date..." readonly>
            </div>
            <div class="form-group col-md-4">
                <label for="courses">Select a Course or Tag:</label>
                <select id="courses" class="search" multiple>
                    <optgroup label="Tags"></optgroup>
                    <option value="A">A</option>
                    <option value="D">D</option>
                    <option value="G">G</option>
                    <option value="J">J</option>
                    <option value="K">K</option>
                    <option value="L">L</option>
                    <option value="M">M</option>
                    <option value="N">N</option>
                    <option value="P">P</option>
                    <option value="Q">Q</option>
                    <option value="S">S</option>
                    <option value="U">U</option>
                    <option value="Z">Z</option>
                    <optgroup label="Courses"></optgroup>
                    {% for course in courses %}
                        <option value="{{ course }}">{{ course }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <hr>
        <div class="form-row">
            <div class="form-group col-md-12">
                <input type="button" id="clear" class="btn btn-primary" value="Clear Search" onclick="clearSearch()">
            </div>
        </div>
        <hr>
        <h3>Search Results:</h3>
        <div id="results">
            Please enter parameters to search by.
        </div>
    </form>

    <script>
        var start = new Pikaday({
            field: document.getElementById('startdate'),
            format: 'MM/DD/YYYY'
        });

        var end = new Pikaday({
            field: document.getElementById('enddate'),
            format: 'MM/DD/YYYY'
        });

        var student = new SlimSelect({
            select: "#student-select",
            placeholder: "Select a Student",
            closeOnSelect: false,
        });

        var tutor = new SlimSelect({
            select: "#tutor-select",
            placeholder: "Select a Tutor",
            closeOnSelect: false,
        });

        var prof = new SlimSelect({
            select: "#prof-select",
            placeholder: "Select a Professor",
            closeOnSelect: false,
        });

        var course = new SlimSelect({
            select: "#courses",
            placeholder: "Select a Course or Tag",
            closeOnSelect: false,
        });

        function clearSearch(){
            student.set([]);
            tutor.set([]);
            prof.set([]);
            course.set([]);
            $('#startdate').val("");
            $('#enddate').val("");
        }

        $('.search').change(function(){
           alert("Change Detected");
        });
    </script>
{% endblock %}