{% extends 'writing_center_base.html' %}

{% block page_title %}Search Appointments{% endblock %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>Search Appointments</b></h1>
        <p>Search for various completed appointments. You can also search appointments where the student did not show
            up.</p>
        <p>You can search by student name or username, tutor name or username, professor name, course, tag, or date
            range. This includes students who have been previously deactivated.</p>
        <p>Clicking on the "Info" button for each appointment will show more info about it.</p>
    </div>

    <form id="search-form">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="student-select">Select a Student:</label>
                <select id="student-select" class="search">
                    <option value="None">Select a Student...</option>
                    {% for student in students %}
                        <option value="{{ student.id }}">{{ student.firstName }} {{ student.lastName }} | {{ student.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="tutor-select">Select a Tutor:</label>
                <select id="tutor-select" class="search">
                    <option value="None">Select a Tutor...</option>
                    {% for tutor in tutors %}
                        <option value="{{ tutor.id }}">{{ tutor.firstName }} {{ tutor.lastName }} | {{ tutor.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="prof-select">Select a Professor:</label>
                <select id="prof-select" class="search">
                    <option value="None">Select a Professor...</option>
                    {% for prof in profs %}
                        <option value="{{ prof }}">{{ prof }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="startdate">Date Range Start:</label>
                <input type="datetime" id="startdate" class="search date hasDatepicker chosen-container"
                       placeholder="Click here to choose a starting date..." readonly>
            </div>
            <div class="form-group col-md-4">
                <label for="enddate">Date Range End:</label>
                <input type="datetime" id="enddate" class="search date hasDatepicker chosen-container"
                       placeholder="Click here to choose an ending date..." readonly>
            </div>
            <div class="form-group col-md-4">
                <label for="courses">Select a Course or Tag:</label>
                <select id="courses" class="search">
                    <option value="None">Select a Course or Tag...</option>
                    <optgroup label="Tags"></optgroup>
                    <option value="A">A</option>
                    <option value="D">D</option>
                    <option value="G">G</option>
                    <option value="J">J</option>
                    <option value="K">K</option>
                    <option value="L">L</option>
                    <option value="M">M</option>
                    <option value="N">N</option>
                    <option value="P">P</option>
                    <option value="Q">Q</option>
                    <option value="S">S</option>
                    <option value="U">U</option>
                    <option value="Z">Z</option>
                    <optgroup label="Courses"></optgroup>
                    {% for course in courses %}
                        <option value="{{ course }}">{{ course }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <hr>
        <div class="form-row">
            <div class="form-group col-md-12">
                <input type="button" id="clear" class="btn btn-primary darkblue" value="Clear Search" onclick="clearSearch()">
            </div>
        </div>
        <hr>
        <h3>Search Results:</h3>

        {# spinner placeholder #}
        <div id="spinner" class="spinner" style="display: none;">
            <img id="img-spinner" class="spinner-img" src="https://cdn1.bethel.edu/images/load.gif" alt="Loading"/>
        </div>

        <div id="results">
            Please enter parameters to search by.
        </div>
    </form>

    <script>
        var start = new Pikaday({
            field: document.getElementById('startdate'),
            format: 'MM/DD/YYYY'
        });

        var end = new Pikaday({
            field: document.getElementById('enddate'),
            format: 'MM/DD/YYYY'
        });

        var student = new SlimSelect({
            select: "#student-select",
            placeholder: "Select a Student"
        });

        var tutor = new SlimSelect({
            select: "#tutor-select",
            placeholder: "Select a Tutor"
        });

        var prof = new SlimSelect({
            select: "#prof-select",
            placeholder: "Select a Professor"
        });

        var course = new SlimSelect({
            select: "#courses",
            placeholder: "Select a Course or Tag"
        });

        function clearSearch(){
            window.location.reload();
        }

        function loadSearchResults(data){
            $('#results').html(data);
        }

        $('.search').change(function(){
            $('#spinner').show();
            var search_data = {
                'student': student.selected(),
                'tutor': tutor.selected(),
                'prof': prof.selected(),
                'course': course.selected(),
                'start': $('#startdate').val(),
                'end': $('#enddate').val()
            };
            var url = "{{ url_for('AppointmentsView:search') }}";
            $.post(url, search_data, function (data) {
                loadSearchResults(data);
                $('#spinner').hide();
            });
        });
    </script>
{% endblock %}