{% extends 'writing_center_base.html' %}

{% block body_content %}
    <div class="jumbotron">
        <h3>Select View</h3>
        <p>Select how you wish to view the appointments, either all at once or by year.</p>
        <p><b>WARNING</b> Selecting to view by a year takes around 4-6 seconds to load.</p>
        <p><b>WARNING</b> Selecting to view all appointments at once will take around 30 seconds to load.</p>
    </div>
    <div class="form-row col-md-12">
        <div class="form-group col-md-auto">
            Select A Year To View
        </div>
    </div>
    <div class="form-row col-md-12">
        <div class="form-group col-md-auto">
            <a id="first-year" class="btn btn-primary" href="{{ url_for('AppointmentsView:view_yearly_appointments', selected_year=2014) }}">{{ 2014 }}</a>
            {% for year in years %}
                {% if year != 2014 %}
                    <a class="btn btn-primary" href="{{ url_for('AppointmentsView:view_yearly_appointments', selected_year=year) }}">{{ year }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="form-row col-md-12">
        <div class="form-group col-md-4">
            <label for="view-all">View All Appointments</label>
            <a id="view-all" class="btn btn-primary" href="{{ url_for('AppointmentsView:view_all_appointments') }}">View All Appointments</a>
        </div>
    </div>
{% endblock %}
