{% extends 'writing_center_base.html' %}

{% block body_content %}
    <div class="jumbotron">
        <h1>Scheduled Appointments</h1>
        <p>View or edit your scheduled appointments here.</p>
    </div>
    <div id="calendar"></div>

    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                type: "GET",
                url: "{{ url_for('AppointmentsView:get_users_appointments') }}",
                success: function (response) {
                    if (response != null) {
                        let i = 0;
                        for (i; i < response.length; i ++) {
                            calendar.addEvent({
                                title: response[i].studentUsername,
                                start: response[i].startTime,
                                end: response[i].endTime
                            });
                        }
                    }

                },
                error: function (error) {
                }
            });
            let calendarEl = document.getElementById('calendar');

            let calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid'],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,dayGridWeek,dayGridDay'
                },
                displayEventTime: true,
                displayEventEnd: true,
            });

            calendar.render();
        });
    </script>
{% endblock %}
