{% extends 'writing_center_base.html' %}

{% block page_title %}View Appointments{% endblock %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>Scheduled Appointments</b></h1>
        <p>View or cancel your scheduled appointments here.</p>
    </div>
    {% if 'CREDENTIALS' in session %}
        {{ gcal_events.add_events_to_calendar("Add All Upcoming Appointments To Google Calendar") }}
    {% else %}
        {{ gcal_login.login_to_google_calendar() }}
    {% endif %}
    <div id="results"></div>
    <hr>
    <div id="calendar"></div>

    <script type="text/javascript">
        $(document).ready(function() {
            $.ajax({
                type: "GET",
                url: "{{ url_for('AppointmentsView:get_users_appointments') }}",
                success: function (response) {
                    if (response != null) {
                        calendar.batchRendering(function() {
                            for (let i = 0; i < response.length; i++) {
                                calendar.addEvent({
                                    id: response[i].id,
                                    title: response[i].tutorName,
                                    start: response[i].startTime,
                                    end: response[i].endTime
                                });
                            }
                        });
                    }

                },
                error: function (error) {
                }
            });
            let calendarEl = document.getElementById('calendar');

            let calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid'],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                displayEventEnd: true,
                timeZone: 'UTC',
                eventClick: function(info) {
                    $.ajax({
                        type: "POST",
                        url: "{{ url_for('AppointmentsView:load_appointment_data') }}",
                        data: JSON.stringify({
                            'id': info.event.id,
                            'cancel': true,
                            'gcalAdd': 'student',
                        }),
                        contentType: 'application/json;charset=UTF-8',
                        success: function (response) {
                            $('#results').html(response);
                            $('#info-modal').modal('show');
                        },
                        error: function (error) {
                        }
                    });
                }
            });

            calendar.render();
        });
    </script>
{% endblock %}
