{% extends 'writing_center_base.html' %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>View All Appointments</b></h1>
        <p>Shows all the appointments.</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form>
                <table id="table" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th data-toggle="tooltip" data-placement="top" title="Student First Name">Student First Name</th>
                            <th data-toggle="tooltip" data-placement="top" title="Student Last Name">Student Last Name</th>
                            <th data-toggle="tooltip" data-placement="top" title="Student Username">Student Username</th>
                            <th data-toggle="tooltip" data-placement="top" title="Tutor First Name">Tutor First Name</th>
                            <th data-toggle="tooltip" data-placement="top" title="Tutor Last Name">Tutor Last Name</th>
                            <th data-toggle="tooltip" data-placement="top" title="Tutor Username">Tutor Username</th>
                            <th data-toggle="tooltip" data-placement="top" title="Instructor Name">Instructor Name</th>
                            <th data-toggle="tooltip" data-placement="top" title="Start Date/Start Time">Start Date/Start Time</th>
                            <th data-toggle="tooltip" data-placement="top" title="End Date/End Time">End Date/End Time</th>
                            <th data-toggle="tooltip" data-placement="top" title="Course or Tag">Course or Tag</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for appt, info in appts_data.items() %}
                            <tr>
                                <td>{{ info['student_first'] }}</td>
                                <td>{{ info['student_last'] }}</td>
                                <td>{{ info['student_username'] }}</td>
                                <td>{{ info['tutor_first'] }}</td>
                                <td>{{ info['tutor_last'] }}</td>
                                <td>{{ info['tutor_username'] }}</td>
                                <td>{{ appt.profName }}</td>
                                <td>{{ appt.scheduledStart|datetimeformat('%m/%d/%y') }} - {{ appt.scheduledStart|datetimeformat }}</td>
                                <td>{{ appt.scheduledEnd|datetimeformat('%m/%d/%y') }} - {{ appt.scheduledEnd|datetimeformat }}</td>
                                <td>{{ appt.courseCode }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <script>
        $(document).ready( function () {
            $.extend($.fn.dataTableExt.oStdClasses, {
                // give some foundation classes to our controls
                sLength: 'large-4 columns ',
                sFilter: 'large-12 columns ',
            });

            var table = $('#table').DataTable({
                "aaSorting": [1, 'asc'],

                "aoColumns": [
                    {"orderSequence": ["asc", "desc"]},
                    {"orderSequence": ["asc", "desc"]},
                    {"orderSequence": ["asc", "desc"]},
                    {"orderSequence": ["asc", "desc"]},
                    {"orderSequence": ["asc", "desc"]},
                    {"orderSequence": ["asc", "desc"]},
                    {"orderSequence": ["asc", "desc"]},
                    {"orderSequence": [null]},
                    {"orderSequence": [null]},
                    {"orderSequence": [null]}
                ],

                "bPaginate": true,
                "bLengthChange": false,
            });
        });
    </script>

{% endblock %}