{% extends 'writing_center_base.html' %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>View Appointments</b></h1>
        <p>View more appointment info by clicking on it</p>
    </div>
    {# spinner placeholder #}
    <div id="spinner" class="spinner" style="display: none;margin-top: -300px;">
        <img id="img-spinner" class="spinner-img" src="https://cdn1.bethel.edu/images/load.gif" alt="Loading"/>
    </div>
    <div id="results"></div>
    <hr>
    <div class="form-row">
        <div class="form-group col-md-12">
            <div id="calendar"></div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            function GetCalendarDateRange(cal) {
                $('#spinner').show();
                let view = cal.view;
                let start = view.activeStart;
                let end = view.activeEnd;
                let dates = { start: start, end: end };
                calendar.removeAllEvents();
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('AppointmentsView:load_appointments') }}",
                    data: JSON.stringify({
                        'dates': dates,
                    }),
                    contentType: 'application/json;charset=UTF-8',
                    success: function (response) {
                        calendar.batchRendering(function() {
                            for (let i = 0; i < response.length; i ++) {
                                calendar.addEvent({
                                    id: response[i].id,
                                    title: response[i].tutorUsername,
                                    start: response[i].startTime,
                                    end: response[i].endTime
                                });
                            }
                        });
                        $('#spinner').hide();
                    },
                    error: function (error) {
                        $('#spinner').hide();
                    }
                });
            }

            let calendarEl = document.getElementById('calendar');

            let calendar = new FullCalendar.Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid', 'timeGrid'],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                datesRender: function(cal) {
                    GetCalendarDateRange(cal)
                },
                slotEventOverlap: false,
                nowIndicator: true,
                displayEventEnd: true,
                timeZone: 'UTC',
                eventClick: function(info) {
                    $.ajax({
                        type: "POST",
                        url: "{{ url_for('AppointmentsView:load_appointment_table') }}",
                        data: JSON.stringify({
                            'id': info.event.id,
                        }),
                        contentType: 'application/json;charset=UTF-8',
                        success: function (response) {
                            $('#results').html(response)
                        },
                        error: function (error) {
                        }
                    });
                }
            });

            calendar.render();
        });
    </script>
{% endblock %}
