{% extends 'writing_center_base.html' %}

{% block body_content %}
    <div class="jumbotron">
        <h1><b>Walk In Student</b></h1>
        <p>Tutor students who walk in without an appointment.</p>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <h3>Enter Student Username To Begin Appointment:</h3>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="existingStudUsername">Username</label>
            <input type="text" class="chosen-container" id="existingStudUsername" name="newStudUsername" placeholder="Username...">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-1">
            <button class="btn btn-small btn-submit btn-primary" id="begin">Begin</button>
        </div>
    </div>

{% endblock %}