{% extends 'writing_center_base.html' %}

{% block body_content %}
    <div class="card info">
        <div class="card-body text-center">
            <h1 class="card-title">Welcome to the Bethel University Writing Center</h1>
            <h6 class="card-text">Go to the <a href="https://www.bethel.edu/undergrad/academics/support/writing">Writing
                Support for CAS</a> page to find out more about the Writing Center's services and resources.</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 info-list">
            <ul class="list-group list-group-flush">
                {% if 'Student' in session['USER-ROLES'] %}
                    <li class="list-group-item"><strong>Students</strong> can schedule new appointments and view the
                        appointments they have already scheduled.</li>
                {% endif %}
                {% if 'Tutor' in session['USER-ROLES'] %}
                    <li class="list-group-item"><strong>Tutors</strong> can start their shifts and view their schedule
                        for the semester.</li>
                {% endif %}
                {% if 'Observer' in session['USER-ROLES'] %}
                    <li class="list-group-item"><strong>Observers</strong> can view appointments and statistics.</li>
                {% endif %}
                {% if 'Administrator' in session['USER-ROLES'] %}
                    <li class="list-group-item"><strong>Administrators</strong> can view appointments and statistics, as
                        well as search appointments and manage tutor schedules.</li>
                {% endif %}
                <li class="list-group-item">You can find more options in the navigation at the top of the page.</li>
            </ul>
        </div>
        <div class="col-md-8">
            {% if 'Student' in session['USER-ROLES'] %}
                <div class="row">
                    <div class="col-md-6">
                        <a class="dashboard-link" href="{{ url_for('AppointmentsView:schedule_appointment_landing') }}">
                            <div class="card dashboard-card text-center">
                                <div class="card-body">
                                    <h4>Schedule an Appointment</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="dashboard-link" href="{{ url_for('AppointmentsView:student_view_appointments') }}">
                            <div class="card dashboard-card text-center">
                                <div class="card-body">
                                    <h4>View Your Appointments</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if 'Tutor' in session['USER-ROLES'] %}
                <div class="row">
                    <div class="col-md-6">
                        <a class="dashboard-link" href="{{ url_for('AppointmentsView:appointments_and_walk_ins') }}">
                            <div class="card dashboard-card text-center">
                                <div class="card-body">
                                    <h4>Begin a Session</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="dashboard-link" href="{{ url_for('SchedulesView:view_tutor_schedules') }}">
                            <div class="card dashboard-card text-center">
                                <div class="card-body">
                                    {% if 'Tutor' in session['USER-ROLES'] %}
                                        <h4>View Your Schedule</h4>
                                    {% else %}
                                        <h4>View Tutor Schedules</h4>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if 'Observer' in session['USER-ROLES'] or 'Administrator' in session['USER-ROLES'] %}
                <div class="row">
                    <div class="col-md-6">
                        <a class="dashboard-link" href="{{ url_for('AppointmentsView:view_appointments') }}">
                            <div class="card dashboard-card text-center">
                                <div class="card-body">
                                    <h4>View All Appointments</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="dashboard-link" href="{{ url_for('StatisticsView:stats') }}">
                            <div class="card dashboard-card text-center">
                                <div class="card-body">
                                    <h4>Statistics</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
            {% if 'Administrator' in session['USER-ROLES'] %}
                <div class="row">
                    <div class="col-md-6">
                        <a class="dashboard-link" href="{{ url_for('AppointmentsView:search_appointments') }}">
                            <div class="card dashboard-card text-center">
                                <div class="card-body">
                                    <h4>Search Appointments</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a class="dashboard-link" href="{{ url_for('SchedulesView:manage_tutor_schedules') }}">
                            <div class="card dashboard-card text-center">
                                <div class="card-body">
                                    <h4>Tutor Schedules</h4>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <script>
        $(document).ready(function(){

            $(".dashboard-card").hover(function(){
                $(this).addClass('shadow');
            }, function(){
                $(this).removeClass('shadow');
            });

        });
    </script>
{% endblock %}