<nav class="navbar navbar-expand-lg navbar-dark background-blue">
    <a class="navbar-brand" href="{{ url_for('View:index') }}">
        <img height="48" src="https://confluence.bethel.edu/download/attachments/327682/global.logo?version=4&amp;modificationDate=1462424762000&amp;api=v2">
        <span class="ml-2  h6 lab-title">Writing Center</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="form-inline nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Appointments</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('AppointmentsView:view_all_appointments') }}">View All Appointments</a>
                <a class="dropdown-item" href="#">Tutor Appointments and Walk Ins</a>
                <a class="dropdown-item" href="#">Schedule An Appointment</a>
                <a class="dropdown-item" href="#">View Your Appointments</a>
            </div>
        </div>

        <div class="form-inline nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Schedules</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Create Schedule</a>
                <a class="dropdown-item" href="#">Manage Tutor Schedules</a>
                <a class="dropdown-item" href="#">View Schedules</a>
            </div>
        </div>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a id="stats" class="nav-link button" href="#">Statistics</a>
            </li>

            <li class="nav-item">
                <a id="users" class="nav-link button" href="#">Users</a>
            </li>

            <li class="nav-item">
                <a id="settings" class="nav-link button" href="#">Settings</a>
            </li>

            <li class="nav-item">
                <a id="email" class="nav-link button" href="#">Email</a>
            </li>
        </ul>

        <div class="form-inline nav-item dropdown">
            {% if session['NAME'] %}
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">{{ session['NAME'] }}</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">My Profile</a>
                    <a class="dropdown-item" href="#">Act As A Role?</a>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            {% else %}
                <a class="nav-link" id="navbarLogin" role="button" href="{{ url_for('View:index') }}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>