<nav class="navbar navbar-expand-lg navbar-dark background-blue">
    <a class="navbar-brand" href="{{ url_for('View:index') }}">
        <img height="48" src="https://confluence.bethel.edu/download/attachments/327682/global.logo?version=4&amp;modificationDate=1462424762000&amp;api=v2">
        <span class="ml-2  h6 lab-title">Writing Center</span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="form-inline nav-item dropdown">
            <a class="nav-link dropdown-toggle {{ 'nav-bar-active' if 'AppointmentsView' in request.url_rule.endpoint }}" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Appointments</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% if 'Student' in session['USER-ROLES'] or 'Administrator' in session['USER-ROLES'] %}
                    <a class="dropdown-item" href="{{ url_for('AppointmentsView:create_appointment') }}">Schedule An Appointment</a>
                    <a class="dropdown-item" href="{{ url_for('AppointmentsView:student_view_appointments') }}">View Your Appointments</a>
                {% endif %}
                {% if 'Tutor' in session['USER-ROLES'] or 'Administrator' in session['USER-ROLES'] %}
                    <a class="dropdown-item" href="{{ url_for('AppointmentsView:appointments_and_walk_ins') }}">Appointments and Walk Ins</a>
                {% endif %}
                {% if 'Observer' in session['USER-ROLES'] or 'Administrator' in session['USER-ROLES'] %}
                    <a class="dropdown-item" href="{{ url_for('AppointmentsView:view_appointments') }}">View All Appointments</a>
                    <a class="dropdown-item" href="{{ url_for('AppointmentsView:search_appointments') }}">Search Appointments</a>
                {% endif %}
            </div>
        </div>

        {% if 'Administrator' in session['USER-ROLES'] %}
            <div class="form-inline nav-item dropdown">
                <a class="nav-link dropdown-toggle {{ 'nav-bar-active' if 'SchedulesView' in request.url_rule.endpoint }}" id="navbarDropdown" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Schedules</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('SchedulesView:create_schedule') }}">Create Schedule</a>
                    <a class="dropdown-item" href="{{ url_for('SchedulesView:manage_tutor_schedules') }}">Manage Tutor Schedules</a>
                    <a class="dropdown-item" href="{{ url_for('SchedulesView:view_tutor_schedules') }}">View Schedules</a>
                </div>
            </div>
        {% endif %}

        <ul class="navbar-nav mr-auto">
            {% if 'Tutor' in session['USER-ROLES'] and 'Administrator' not in session['USER-ROLES'] %}
                <li class="nav-item">
                    <a id="schedule" class="nav-link button {{ 'nav-bar-active' if 'StatisticsView' in request.url_rule.endpoint }}" href="{{ url_for('SchedulesView:view_tutor_schedules') }}">Schedule</a>
                </li>
            {% endif %}

            {% if 'Administrator' in session['USER-ROLES'] or 'Observer' in session['USER-ROLES'] %}
                <li class="nav-item">
                    <a id="stats" class="nav-link button {{ 'nav-bar-active' if 'StatisticsView' in request.url_rule.endpoint }}" href="{{ url_for('StatisticsView:index') }}">Statistics</a>
                </li>
            {% endif %}

            {% if 'Administrator' in session['USER-ROLES'] %}
                <li class="nav-item">
                    <a id="users" class="nav-link button {{ 'nav-bar-active' if 'UsersView' in request.url_rule.endpoint }}" href="{{ url_for('UsersView:index') }}">Users</a>
                </li>

                <li class="nav-item">
                    <a id="settings" class="nav-link button {{ 'nav-bar-active' if 'SettingsView' in request.url_rule.endpoint }}" href="{{ url_for('SettingsView:index') }}">Settings</a>
                </li>

                <li class="nav-item">
                    <a id="email" class="nav-link button {{ 'nav-bar-active' if 'MessageCenterView' in request.url_rule.endpoint }}" href="{{ url_for('MessageCenterView:index') }}">Message Center</a>
                </li>
            {% endif %}
        </ul>

        <div class="form-inline nav-item dropdown">
            {% if session['NAME'] %}
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">{{ session['NAME'] }}</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ url_for('ProfileView:index') }}">My Profile</a>
                    {% if 'Administrator' in session['USER-ROLES'] %}
                        <a class="dropdown-item" href="{{ url_for('ProfileView:role_viewer') }}">Act As A Role</a>
                    {% endif %}
                    <a class="dropdown-item" href="{{ url_for('View:logout') }}">Logout</a>
                </div>
            {% else %}
                <a class="nav-link" id="navbarLogin" role="button" href="{{ url_for('View:index') }}">Login</a>
            {% endif %}
        </div>
    </div>
</nav>

{% if session['ADMIN-VIEWER'] %}
    <nav class="navbar navbar-expand-lg navbar-dark custom-user-nav">
        <div class="collapse navbar-collapse custom-user-div" id="navbarSupportedContent">
            <form action="{{ url_for('UsersView:reset_act_as') }}" method="post">
                <p class="custom-user-p">Viewing
                    {% if session['ADMIN-USERNAME'] %}
                        user: [{{ session['USERNAME'] }}]
                    {% endif %}
                    | Return to your <button id="reset-act-as-button" class="transparent" type="submit">account</button>.
                </p>
            </form>
        </div>
    </nav>
{% endif %}